In [ ]:
#modules=> pi cos exp log10
from math import pi
print(pi)

import math
print(math.pi)
print(math.cos(math.pi))
print(math.log10(1000))
print(math.sinh(1))

In [ ]:
import random
x=['a','b','c','d','e']
random.shuffle(x)
print(x)

In [ ]:
import random
print(random.randrange(10,20))

In [ ]:
import random
x=['a','b','c','d']
print(random.choice(x))
print(random.random())

In [1]:
s='This is string'
print(s[0]) #indexing
print(s[5])
print(s[0],s[1],s[2],s[3],s[4],s[5],s[6])
print(s[0:4])#slicing
print(s[5:12])#one number is added at the end
s='This is string. Strings in python are immutable.'
print(s[46])
print(s[-2])#Negative indexing
print(s[38:47])
print(s[-10:-1])
print(s[-10:])
print(s[0:14:2])#start:stop:step
print(s[0:14:1])#start:stop:step
print(s[0:])
print(s[:])
print(s[::])
print(s[-47:0])
text = "This is string. Strings in python are immutable."
reversed_text = text[::-1]
print(reversed_text)
print(s.endswith('T'))
print(s.find('t'))
print(s.find('t',10,15))

T
i
T h i s   i s
This
is stri
e
e
immutable
immutable
immutable.
Ti ssrn
This is string
This is string. Strings in python are immutable.
This is string. Strings in python are immutable.
This is string. Strings in python are immutable.

.elbatummi era nohtyp ni sgnirtS .gnirts si sihT
False
9
-1

In [2]:
#list
x=[1,2,3,4]
print(x,type(x))

[1, 2, 3, 4] <class 'list'>

In [3]:
X=[1,[[2,[3,4,5,6],7],8],9]
print(X[1][0][1][2])

5

In [ ]:
X#support any type of datasrtucture
x=[1,1.5,'ram','1',8j,[1,2,3,4],{'ram':'ram'},1,2]
print(x)

In [ ]:
x=[1,[2,4,[5,6,7]]]
print(x[1][2][0])

In [ ]:
s='this is StRing. Strings in python are immutable'
print(s.capitalize())#First string capital/upper case all of others are in lower case
print(s.title())#All first letters are capitalized
print(s.upper())
print(s.lower())
print(s.count('t'))

In [2]:
#triple quotatiom ==> multiline string

In [1]:
name='ram'
age=22
s=f'this is {name}. my age is {age}' #f-string interpolation
print(s)
s='this is {}. my age is {}'.format(name,age)
print(s)
x='     shresthaprason99@gmail.com      '
print(x.strip())
x='#######xtha#####'
print(x.strip('#'))
print(help(str.strip))
x='ram-->hari-->sita'

x.split('-->')

this is ram. my age is 22
this is ram. my age is 22
shresthaprason99@gmail.com
xtha
Help on method_descriptor:

strip(self, chars=None, /) unbound builtins.str method
    Return a copy of the string with leading and trailing whitespace removed.

    If chars is given and not None, remove characters in chars instead.

None

['ram', 'hari', 'sita']

In [ ]:
#Output;ram+hari+sita
'+'.join(x)

In [ ]:
print('hello')

In [ ]:
x="    prason shrestha    "
print(x.split())
print(x.strip())
print('-'.join(x))

In [ ]:
x='Prason82'
print(x.strip('82'))

In [ ]:
#list==> mutable objects==> can be changed once defined
fruits=['apple','banana','mango','orange']
fruits[0]='Ram'
print(fruits)

del fruits[0]
print(fruits)

In [ ]:
#number and strings===> integer,float,complex===>immutable====> cannot be changed once defined
fruits=['apple','banana','mango','orange']
fruits.append('grapes')
print(fruits)
fruits.clear()

In [ ]:
fruits1=['apple','banana','mango','orange']
fruits2=fruits1.copy()
print(id(fruits1))
print(id(fruits2))
fruits2.append('grapes')
print(fruits1,fruits2)

In [ ]:
fruits=['apple','banana','mango','orange','apple']
fruits.count('apple')

In [ ]:
fruits=['apple','banana','mango','orange','apple']
fruits.append(['ram',1,22,'grapes'])
print(fruits)
fruits.extend(['ram',1,22,'grapes'])

fruits=['apple','banana','ramesh']
fruits.extend('ramesh')
print(fruits)

In [ ]:
fruits=['apple','banana']
fruits.append(1)
fruits.extend(1)
fruits.extend('1')
print(fruits)

In [ ]:
fruits=['apple','banana','mango','orange']
fruits.insert(1,'grapes')
print(fruits)

In [ ]:
fruits=['apple','banana','mango','orange','apple']
fruits.index('apple')

In [ ]:
fruits=['apple','banana','mango']
fruits.index('adf')#returns value error

In [ ]:
print(fruits.pop())
print(fruits)

In [ ]:
fruits=['apple','banana','mango','orange']
fruits.pop(2)
print(fruits)

In [ ]:
fruits.pop(22)#Raises index error
print(fruits)
fruits=[]
fruits.pop()#Raises index error

In [ ]:
fruits=['apple','banana','orange']
fruits.remove('apple')
print(fruits)

In [ ]:
x=[1,7,8,9,10,4,3]
x.sort()
print(x)

In [ ]:
x=[1,7,8,9,10,4,3]
x.sort()
x.sort(reverse=True)
print(x)

In [ ]:
#supports any type of datastructure
#ordered collection
#immutabale===> cannot be changed
x=(1,2,3,4)
x[0]='ram'##error
x=(1,1.5,4j,'string',[1,2,3])
print(x,type(x))

In [ ]:
#Indexing and slicing same as list
x=(1,2,3,4)
x[1:3]

In [ ]:
help(tuple)

In [ ]:
x=(1,2,3,4,1,5,15)
print(x.count(1))
print(x.index(1))

In [ ]:
x=(1,)
print(type(x))
y=1,
print(type(y))

In [ ]:
#tuple unpacking
x,y,z=1,2,3
print(x)
print(y)
print(z)

In [ ]:
#list vs tuple
#list => mutable , tuple=>immutable
#list=>[],tuple,tuple=> faster than list
#list=> takes more memory than tuple, tuple=> takes less memory than list
#list=.homogenous datastructure,tuple=>heteregenous

In [ ]:
fruits=['apple','banana','orange']#same type of datastructures ==>homogenous
person=['ram',1,2345,23456.56,22]#different type of datastructure===> heterogenous

In [ ]:
person={
    'id':1,#key:value pair with comma
    'name':'ram',
    'age':22,
    'phone':324324,
    'salary':3222323.556,#last comma is optional
}
print(person,type(person))
person['name']#specific element

person['email']='shresthaprason99@gmail.com'
del person['age']
print(person)
person.clear()
print(person)

In [ ]:
x={
    id:'1',#key:value pair with comma
    'name':'ram',
    'age':22,
    'phone':324324,
    'salary':3222323.556,#last comma is optional
  }
y=x.copy()
y['email']='ram@gmail.com'
print(x)
print(y) #As for when to use this pattern, you would use the .copy() method when you want to create a new dictionary based on an existing one without modifying the original. This is especially important because dictionaries are mutable objects in Python - if you had done y = x instead, both variables would reference the same dictionary, and changes to one would affect the other.

In [ ]:
mylist = [1, 2, 3, 4]
mylist.insert(2, 'Hari')
print(mylist)

In [ ]:
person={
    'id':1,
    'name':'ram', 
    'address':'ktm',
    'age':26
}
print(person['name'])

In [ ]:
person={
    'id':1,
    'name':'ram', 
    'address':'ktm',
    'age':26
}
print(person['name'])

In [ ]:
person={
    'id':1,
    'name':'ram',
    'address':'ktm',
    'age':29,

}
print(person.get('email'))
print('hello')

In [ ]:
person={
    'id':1,
    'name':'ram',
    'address':'ktm',
    'age':29,

}
print(person.get('age'))
print('hello')

In [ ]:
person={
    'id':1,
    'name':'ram',
    'address':'ktm',
    'age':29,

}
print(person.get('age',123))
print(person.get('email','ram@gmail.com'))

In [ ]:
person={
    'id':1,
    'name':'ram',
    'address':'ktm',
    'age':29,
}
print(person.setdefault('email','ram@gmail.com'))
print(person)

In [ ]:
person={
    'id':1,
    'name':'ram',
    'address':'ktm',
    'age':29,
}
print(person.values())

In [ ]:

person={
    'id':1,
    'name':'ram',
    'address':'ktm',
    'age':29,
}
print(person.keys())

In [ ]:
help(dict)

In [ ]:
person={
    'id':1,
    'name':'ram',
    'address':'ktm',
    'age':29,
}
print(person.items())

In [ ]:
person={
    'id':1,
    'name':'ram',
    'address':'ktm',
    'age':29,
}
person.pop('name')
print(person)

In [ ]:
person={
    'id':1,
    'name':'ram',
    'address':'ktm',
    'age':29,
}
print(person.popitem())#removes last value by default
print(person)

In [ ]:
person={
    'id':1,
    'name':'ram',
    'address':'ktm',
    'age':29,
    'contact':93245678


}
person['email']='ram@gmail.com'
print(person)

In [ ]:
person={
    'id':1,
    'name':'ram',
    'address':'ktm',
    'age':29,
    'contact':93245678


}
person.update({'email':'ram@gamil.com','college':'broadway'})
print(person)

In [ ]:
#tuple,int,float,complex(number datatypes),string=>immutable
#list,dictionary,set==>mutable

In [ ]:
#set datatypes
s={1,2,3,4,5}
print(s,type(s))

In [ ]:
#unordered collection
s={'ram',1,'hari',4,5,3,'shyam',(7,8,9)}
print(s)

In [ ]:
s={'ram',1,'hari',4,5,3,'shyam',(7,8,9),1,'ram','ram'}
print(s) #unique unordered collection

In [ ]:
#empty_string=''#str()
#empty_list=[]#list()
#empty_tuple=()#tuple()
#empty_dict={}#dict()
#empty set =set()

In [ ]:
print([])

In [ ]:
tea={'ram','hari','sita'}
coffee={'shyam','sita','gita'}
tea_or_coffee=tea|coffee #union
print(tea_or_coffee)

In [ ]:
tea={'ram','hari','sita'}
coffee={'shyam','sita','gita'}
tea_or_coffee=tea.union(coffee)#union
print(tea_or_coffee)

In [ ]:
# Example 1:

# Intersection of sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use & operator
print(A & B)     # ▶ {4, 5}

tea={'ram','hari','sita'}
coffee={'shyam','sita','gita'}
tea_and_coffee=tea&coffee #intersection
tea_and_coffee=tea.intersection(coffee)#intersection
print(tea_and_coffee)

In [ ]:
# Example 1:

# Difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use - operator on A
print(A - B)    # ▶ {1, 2, 3}
print(B - A)    # ▶ {8, 6, 7}


tea={'ram','hari','sita'}
coffee={'shyam','sita','gita'}
tea_only=tea-coffee#difference
print(tea_only)


tea={'ram','hari','sita'}
coffee={'shyam','sita','gita'}
tea_only=tea.difference(coffee)#difference
print(tea_only)

In [ ]:
ea={'ram','hari','sita'}
coffee={'shyam','sita','gita'}
coffee_only=coffee.difference(tea)#difference
print(coffee_only)

In [ ]:
tea={'ram','hari','sita'}
coffee={'shyam','gita','sita'}
tea_only_or_coffee_only=tea.symmetric_difference(coffee)
print(tea_only_or_coffee_only)

In [4]:
s={'ram','jar',1,4.5,3,7,'shyam'}
s.add(33)
print(s)

{'ram', 'jar', 1, 3, 4.5, 'shyam', 33, 7}

In [ ]:
s={'ram','jar',1,4.5,3,7,'shyam'}
s.clear()
print(s)

In [ ]:
s1={'ram',1,'hari',4.5,3,'shyam',(7,8,9),1,2,3,'ram'}
s2=s1.copy()
s1.add(33)
print(s1,s2)

In [ ]:
s={'ram',1,'hari',4.5,3,'shyam',(7,8,9),1,2,3,'ram'}
s.update((4,5,6))
print(s)

In [ ]:
s={'ram',1,'hari',4.5,3,'shyam',(7,8,9),1,2,3,'ram'}
s.update(('77'))
print(s)

In [ ]:
s={'ram',1,'hari',4.5,3,'shyam',(7,8,9),1,2,3,'ram'}
s.remove(('hari'))
print(s)#key error if the member is not there

In [ ]:
s={'ram',1,'hari',4.5,3,'shyam',(7,8,9),1,2,3,'ram'}
s.discard((11))
print(s)#no issue even if the member is not there

In [ ]:
s={'ram',1,'hari',4.5,3,'shyam',(7,8,9),1,2,3,'ram'}
s.pop()
print(s)

In [ ]:
help(set.pop)

In [ ]:
x=[1,2,3,4,5]
print(max(x))
print(min(x))
print(sum(x))

In [ ]:
x=[7,22,11,1,4,3,18,5,15]
sorted(x,reverse=True)

In [ ]:
#flow control
#if....else....

In [ ]:
age=17
if age<18:
    print('Unauthorized') #Indentation=> tab

In [ ]:
age=19
if age>=18:
    print('Authorized')
    print('Hi')

print('hello')

In [ ]:
age=int(input('Enter the age: '))

if age>=18:
    print('authorized')

In [1]:
marks = int(input("Enter marks : "))
if marks>=45:
    print('Pass')
if marks<45:
    print('Fail')

Enter marks :  45

Pass

In [2]:
x=int(input('Enter the value of x'))
y=int(input('Enter the value of y'))
if x>y:
    print('x is greater than y')
elif y>x:
    print('y is greater than x')
elif x==y:
    print('x and y are equal')

Enter the value of x 3
Enter the value of y 4

y is greater than x

In [3]:
x=int(input('Enter the value of x'))
y=int(input('Enter the value of y'))
if x>y:
    print('x is greater than y')
elif y>x:
    print('y is greater than x')
else:
    print('x and y are equal')

Enter the value of x 4
Enter the value of y 7

y is greater than x

In [4]:
if True:
    print('hello1')
elif True:
    print('hello2')
elif True:
    print('hello3')
else:
    print('hello4')

hello1

In [1]:
if False:
    print('hello1')
if True:
    print('hello2')
if True:
    print('hello3')
if True:
    print('hello4')
else:
    print('hello5')

hello2
hello3
hello4

In [2]:
if False:
    print('hello1')
if True:
    print('hello2')
elif True:
    print('hello3')
if True:
    print('hello4')
else:
    prinr('hello5')

hello2
hello4

In [4]:
#username:'admin'
#password:'admin123'
username=input('enter the username: ')
passsword=input('enter the. password: ')
if username=='admin'and password='admin123':
    print('You are signed in')
else:
    print('You are not signed in')

enter the username:  hgs8
enter the. password:  yuotube

You are not signed in

In [17]:
#username:'admin'
#password:'admin123'
#secret='secretkey123'
username=input('enter the username: ')
password=input('enter the. password: ')
secret=input('enter the secret: ')
if(
(username=='admin'and password=='admin123') or (secret=='secret123')
    ):
    print('You are signed in')
else:
    print('You are not signed in')

enter the username:  788
enter the. password:  u9809
enter the secret:  0998

You are not signed in

In [18]:
#username:'admin'
#password:'admin123'
#secret='secretkey123'
username=input('enter the username: ')
password=input('enter the. password: ')
secret=input('enter the secret: ')
if username=='admin' and password=='admin123' or secret=='secretkey123':
    print('You are signed in')
else:
    print('You are not signed in')

enter the username:  admin
enter the. password:  admin123
enter the secret:  secretkey123

You are signed in

In [26]:
username:'admin'
#password:'admin123'
#secret='secretkey123'
username=input('enter the username: ')
password=input('enter the. password: ')
if username=='admin' and password=='admin123':
    print('You are signed in')
else:
   secret=input('enter the secret: ')
    if secret=='secret123'
        print('You are signed in')
    else:
        print('You are not signed in')

IndentationError: unexpected indent (1631693433.py, line 10)

In [23]:
username = 'admin'  # Default value
# password = 'admin123'  # Default value, commented out
# secret = 'secretkey123'  # Default value, commented out

username = input('enter the username: ')
password = input('enter the password: ')

if username == 'admin' and password == 'admin123':
    print('You are signed in')
else:
    secret = input('enter the secret: ')
    if secret == 'secretkey123':
        print('You are signed in')
    else:
        print('You are not signed in')

enter the username:  admin
enter the password:  admin123

You are signed in

In [1]:
Math = int(input('Enter your Math marks: '))
Science = int(input('Enter your Science marks: '))
EPH = int(input('Enter your EPH marks: '))
Nepali = int(input('Enter your Nepali marks: '))
Computer = int(input('Enter your Computer marks: '))

total = Math + Science + EPH + Nepali + Computer
percent = total / 5

print('Your total score is', total, 'out of 500')
if percent < 35:
    print("Sorry, you failed")
elif percent >= 35 and percent < 50:
    print('You got Third Division')
elif 50 <= percent < 60:
    print('You got Second Division')
elif 60 <= percent < 80:
    print('You got First Division')
elif 80 <= percent <= 100:
    print('Wow! You got Distinction')

Enter your Math marks:  67
Enter your Science marks:  89
Enter your EPH marks:  89
Enter your Nepali marks:  89
Enter your Computer marks:  99

Your total score is 433 out of 500
Wow! You got Distinction

In [3]:
x=[1,2,3,4,5,6]
#output=[1.4,9,16,25,36]
output=[]
for i in x:
    output.append(i**2)
print(output)

[1, 4, 9, 16, 25, 36]

In [6]:
x=[1,2,3,4,5]
#output=[odd,even,odd,even,odd]
output=[]
for i in x:
    if i%2==0:
        output.append('even')
    else:
        output.append('odd')
print(output)

['odd', 'even', 'odd', 'even', 'odd']

In [10]:
x=[11,24,12,13,14,11,12,4,5,6,7,8,9,10,10,12,7,44,55]
#unique item
output=[]# This is your new empty box where you'll keep one of each crayon
for i in x:# "i" is like your hand picking each crayon from the big box
    if i not in output:# You check: "Do I already have this color in my new box?"
        output.append(i)# If you don’t have it, add it to your new box!
print(output)

[11, 24, 12, 13, 14, 4, 5, 6, 7, 8, 9, 10, 44, 55]

In [15]:
name='rAmesh pradhan'
#output=count vowels
count=0
for i in name:
    if i in 'AEIOUaeiou':
        count=count+1
print(count)

4

In [19]:
name='Prason Shrestha'# This is the name we’re going to play with!
count=0 # This is like a scoreboard starting at zero
for i in name:# "i" is like your finger pointing at each letter
    if i in 'AEIOUaeiou':# You ask: "Is this letter an A, E, I, O, or U (big or small)?"
        count=count+1 # If yes, add 1 to your scoreboard!
print(count)

4

In [24]:
name='rAmesh prAdhanASA'
vowels=''
for i in name:
    if i in 'AEIOUaeiou':
        vowels=vowels+i
     
print(vowels)

AeAaAA

In [1]:
students=['Alan','Bill','Ramesh','Cory','Ram','Shyam Bahadur','Gita']
students_dict = {}

for index, name in enumerate(students, start=1):
    students_dict[name] = index

print(students_dict)

{'Alan': 1, 'Bill': 2, 'Ramesh': 3, 'Cory': 4, 'Ram': 5, 'Shyam Bahadur': 6, 'Gita': 7}

In [3]:
students=['Alan','Bill','Ramesh','Cory','Ram','Shyam Bahadur','Gita']
output={}
for student in students:
    output.update({student:len(student)})
print(output)

{'Alan': 4, 'Bill': 4, 'Ramesh': 6, 'Cory': 4, 'Ram': 3, 'Shyam Bahadur': 13, 'Gita': 4}

In [12]:
students = ['Alan', 'Bill', 'Ramesh', 'Cory', 'Ram', 'Shyam Bahadur', 'Gita']
output = {}
i = 0
for student in students:
    output.update({student: i})
    i += 1  # Moved this inside the loop
print(output)

{'Alan': 0, 'Bill': 1, 'Ramesh': 2, 'Cory': 3, 'Ram': 4, 'Shyam Bahadur': 5, 'Gita': 6}

In [8]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [9]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [11]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [13]:
students = ['Alan', 'Bill', 'Ramesh', 'Cory', 'Ram', 'Shyam Bahadur', 'Gita']
output = {}
for i in range(len(students)):
    output.update({students[i]: i})
print(output)

{'Alan': 0, 'Bill': 1, 'Ramesh': 2, 'Cory': 3, 'Ram': 4, 'Shyam Bahadur': 5, 'Gita': 6}

In [15]:
us_price={'milk':2.03,'bread':2.6,'butter':3.6}
#11usd=npr 132
#{'milk':267..96,'bread':343.2,'butter':475.3}
npr_price = {}
for item, price in us_price.items():
    npr_price.update({item: price * 132})
print(npr_price)

{'milk': 267.96, 'bread': 343.2, 'butter': 475.2}

In [16]:
us_price={'milk':2.03,'bread':2.6,'butter':3.6}
for i in us_price.items():
    print(i)

('milk', 2.03)
('bread', 2.6)
('butter', 3.6)

In [2]:
students=['Alan','Bill','Ramesh','Cory','Ram','Shyam Bahadur','Gita']
output={}
for student in students:
    output.update({student:len(student)})
print(output)

{'Alan': 4, 'Bill': 4, 'Ramesh': 6, 'Cory': 4, 'Ram': 3, 'Shyam Bahadur': 13, 'Gita': 4}

In [6]:
students=['Alan','Bill','Ramesh','Cory','Ram','Shyam Bahadur','Gita']
i=0
output={}
for student in students:
    output.update({student:i})
    i += 1
print(output)

{'Alan': 0, 'Bill': 1, 'Ramesh': 2, 'Cory': 3, 'Ram': 4, 'Shyam Bahadur': 5, 'Gita': 6}

In [9]:
students=['Alan','Bill','Ramesh','Cory','Ram','Shyam Bahadur','Gita']
output={}
for i in range(0,7):
    output.update({students[i]:i})
print(output)

{'Alan': 0, 'Bill': 1, 'Ramesh': 2, 'Cory': 3, 'Ram': 4, 'Shyam Bahadur': 5, 'Gita': 6}

In [11]:
us_price={'milk':2.03,'bread':2.6,'butter':3.6}
nep_price={}
for k,v in us_price.items():
    nep_price.update({k:v*132})
print (nep_price)

{'milk': 267.96, 'bread': 343.2, 'butter': 475.2}

In [1]:
#pass 
age=17
if age<18:
    pass

In [15]:
numbers=[1,2,6,8,9,6,10]
sum=0
for number in numbers:
    if number!=6:
        sum+=number #sum=sum+number
print(sum)

30

In [17]:
numbers=[1,2,6,8,9,6,10]
sum=0
for number in numbers:
    if number==6:
        pass
    else:
        sum+=number
print(sum)

30

In [18]:
numbers=[1,2,6,8,9,6,10]
sum=0
for number in numbers:
    if number==6:
        pass
    sum+=number
print(sum)

42

In [19]:
#continue====> skips and proceeds to next item
#continue 
for x in range(1,21):
    if x==13:
        continue
else:
    print(x)
#----------------------------------------------------
numbers=[1,2,6,8,9,6,10]
sum=0
for number in numbers:
    if number==6:
        continue
    sum+=number
print(sum)

20
30

In [26]:
#break====>terminate or exit from loop
names = ['ram', 'shyam', 'gita', 'sita']
foods = ['momo', 'chowmein', 'thukpa']

for name in names:
    for food in foods: #nested loop
        print(f"{name} eats {food}") #f string interpolation

ram eats momo
ram eats chowmein
ram eats thukpa
shyam eats momo
shyam eats chowmein
shyam eats thukpa
gita eats momo
gita eats chowmein
gita eats thukpa
sita eats momo
sita eats chowmein
sita eats thukpa

In [27]:
names = ['ram', 'shyam', 'gita', 'sita']
foods = ['momo', 'chowmein', 'thukpa']

for name in names:
    for food in foods:
        print(f"{name.capitalize()} eats {food}")

Ram eats momo
Ram eats chowmein
Ram eats thukpa
Shyam eats momo
Shyam eats chowmein
Shyam eats thukpa
Gita eats momo
Gita eats chowmein
Gita eats thukpa
Sita eats momo
Sita eats chowmein
Sita eats thukpa

In [ ]:
# Question: Process numbers 1-10 with multiple conditions
for num in range(1, 11):
    if num == 7:
        print("Stopping at 7")
        break  # Exit loop when num is 7
    elif num % 2 == 0:
        continue  # Skip even numbers
    elif num == 5:
        pass  # Placeholder for future special handling of 5
    else:
        print(f"Odd number: {num}")
# Output:
# Odd number: 1
# Odd number: 3
# Odd number: 5
# Stopping at 7

In [28]:
names=['ram','shyam','gita','sita']
i=0
while i<len(names):
    print(names[i])
    i+=1

ram
shyam
gita
sita

In [ ]:
while condition:
    # code block to execute
    # as long as condition is True
count = 0
while count < 5:
    print(f"Count is {count}")
    count = count + 1  # Updates count to eventually end the loop

In [38]:
numbers=[1,2,3,4]
i=0
sum=0
while i<len(numbers):
    sum+=numbers[i]
    i+=1
    
print(sum)

10

In [ ]:
#for loop
#finite times
#when you know how many times you are iterating

#while loop
#infinite times
#when you dont know how many times you are iterating

In [ ]:
i=1
while True:
    print(i)
    i+=1

In [40]:
age = 0  
while age != 18:
    age = int(input("Enter your age: "))
    if age != 18:
        print("You're not 18 yet")
print("You're 18")

Enter your age:  18

You're 18

In [ ]:
age=int(input('Enter your age: '))
while age<-18:
    age=int(input('Enter your age: '))
print('Welcome')

In [5]:
def addition(): #function define
    sum=x+y
    print(sum)

In [2]:
addition()#function call

3

In [11]:
def addition(x,y):#parameters/ arguments
    sum=x+y
    print(sum)

In [12]:
addition(4,5)

9

In [13]:
addition(x=2,y=4)

6

In [14]:
addition(3,4)#positional
addition(x=3,y=4)#keywords
addition(3,y=4)#milxa
addition(x=3,4)#mildaina

SyntaxError: positional argument follows keyword argument (3248415765.py, line 4)

In [22]:
def addition(x,y):
    sum=x+y
    print(sum)

In [23]:
addition(3,4)

7

In [17]:
def addition(x,y):
    sum=x+y
    return sum

In [20]:
a=addition(2,8)
print(a)

10

In [21]:
a+5

15

In [34]:
def addition(x,y=0): #y is default value
    sum=x+y
    return sum

In [35]:
addition(4)

4

In [36]:
addition(4,2)

6

In [39]:
def addition(y,x=0): 
    sum=x+y
    return sum

In [40]:
addition(5)

5

In [53]:
def all(x, y):
    sum = x + y
    diff = x - y
    multiply = x * y
    division=x/y
    return sum,diff,multiply,division

In [52]:
multiplication(3,4)

12

In [51]:
addition(3,4)

7

In [50]:
all(3,4)

(7, -1, 12)

In [49]:
all(9,0)

(9, 9, 0)

In [54]:
all(4,5)

(9, -1, 20, 0.8)

In [ ]:
return add # exit from function
return sub #add garepaxi aru kunai gardena

return multiply

In [55]:
def get_larger(x, y):
    if x > y:
        return x
    else:
        return y

In [56]:
get_larger(4,5)

5

In [ ]:
def addition(*args):
    print(args)

In [59]:

def addition(*args): #any number of positional arguments
    total = 0
    for num in args:
        total += num
    return total

In [58]:
addition(1,2,3,4)

10

In [60]:
addition(x=1,y=2) #got an unexpected keyword argument 'x' cuz only positional allowed here

TypeError: addition() got an unexpected keyword argument 'x'

In [61]:
def addition(**kwargs):
    print(kwargs,type(kwargs))

In [62]:
addition(x=1,y=2)

{'x': 1, 'y': 2} <class 'dict'>

In [78]:
def addition(**kwargs):
    sum=0
    for i in kwargs.values():
        sum+=i
        
    return sum

In [79]:
addition(x=1,y=2)

3

In [67]:
def addition(*args,**kwargs):
    sum=0
    for i in args:
        sum+=i
    for i in kwargs.values():
        sum+=i
    return sum

In [68]:
addition(3,4,5,x=1,y=2,a=5,z=4)

24

In [2]:
def hello():
    xyz=8 #local scope
    print(xyz)
hello()

8

In [3]:
print(xyz) #not defined outside the function

NameError: name 'xyz' is not defined

In [4]:
name='shyam'#module level/file level=>global
print(name)

shyam

In [5]:
def hi():
    print(name)#checks local scope =>doesnt find it=> checks global=> finds it
hi()

shyam

In [8]:
max([1,2,3])

3

In [10]:
min([1,2,3])

1

In [11]:
#built-in scope=anywhere in python file =>print,min,max,sorted
#global scope=> created variable within python file/module
#local scope=> inside function

In [12]:
x=5
def hello():
    print(y) #y is not defined
hello()

NameError: name 'y' is not defined

In [13]:
x=5#global scope
def hello():
    x=2#local scope
    print(x)
print(x) #global=>5
hello()
print(x)#global=>5

5
2
5

In [14]:
x=5 #gl
def hello():
    x=x+2 #local scope=>error
    print(x)
print(x)#gl=>5
hello()
print(x)

5

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [15]:
x=5 #gl
def hello():
    y=x+2 #local scope=>global scope=> vetyo!!
    print(y)
print(x)#gl=>5
hello()
print(x)

5
7
5

In [16]:
x=5
def hello():
    x=1
    x=x+2
    print(x)
print(x)
hello()
print(x)

5
3
5

In [18]:
x=5#gl
def hello():
    global x
    x=x+2
    print(x)
print(x)
hello()
print(x)

5
7
7

In [26]:
#factorial(5)=5*4*3*2*1
#factorial(10)=10*9*8*7*6*5*4*3*2*1
def factorial(n):
    fact=1
    for i in range(n,0,-1):
        fact*=i
    return fact

In [50]:
factorial(5000)

RecursionError: maximum recursion depth exceeded

In [ ]:
#factorial(5)=5*4*3*2*1
#factorial(5)=5*factorial(4)
#factorial(5)=5*4*factorial(3)
#factorial(5)=5*4*3*factorial(2)
#factorial(5)=5*4*3*2*factorial(1)
#factorial(5)=5*4*3*2*1

In [29]:
#recursion
def hello():
    print('hi')
    hello()
    
hello()

hi

In [ ]:
#recursive function
#1 call itself
#2 base condition => terminating condition/returning

In [44]:
#Recursive function
def factorial(n):
        if n<=1:
            return 1
        else:
            return n * factorial(n-1)

In [45]:
factorial(4)

24

In [ ]:
#4*factorial(3)
#4*3*factorial(2)
#4*3*2*factorial(1)
#4*3*2*1
#24

In [49]:
factorial(5000)

RecursionError: maximum recursion depth exceeded

In [51]:
import sys
sys.set_int_max_str_digits(50000)

In [53]:
#factorial(5)=5*4*3*2*1
#factorial(10)=10*9*8*7*6*5*4*3*2*1
def factorial(n):
    fact=1
    for i in range(n,0,-1):
        fact*=i
    return fact

In [54]:
factorial(5000)

422857792660554352220106420023358440539078667462664674884978240218135805270810820069089904787170638753708474665730068544587848606668381273633721089377278763127939036305846216064390447898698223987192970889621161265296832177550039924219683703146907264472878789790404754884162215226671928410969236910449565971736352948400223840381120644820230857671104502306174894755428309761781724040805324809927809328784055486199364548291211876258248802189173977900050213212598043639244626460770511358846595108675470585833924655225589035474435988347383178988034633008458631510209091509935653820010933047965742556741930917055172805200236075085991197635228755907902043369743123506916831211924495971556267407521462198986233088625998302859864857578749445963115286970886710046268423648178989905454690861391613218344174148807186234448114831209490361196546872767755617886828720269104814092456410341835975604276458161513178575901661071782544156980883359372729995603371371200471049437656291142488605335299499642300699972204918120100819059439140675053265004775533850899097945101551091486907004407119572336026243368132330218709287699196806656569752790422258267841561083376425781032629202687211070274681394351128601502326190649959171897364176378436491219709109840944514895358959103804176941956657834822071749105512752639148381172052604826965162642710094919393332661030104360530459117014557209584714353721948246686793467375904872268133410207860903657108806376616249749507413107077401682180585945526445171409277469230062697511346044174567946735828782261629584248675157379172942724178783105429858245117575511884506574424827574660800238588378492396247368761507015767725898321128632295537044902516387925127590841791744640466913531047347984464996154595542013996317357476301740036796192919942190762895445656261767041799538161133387312823511534152581309087915883638351664797225912944270653557142511737323807232632958121797916679692329687096923901003255574789055099807487061047230646195984955239657612208673866514171699307557691897902675157342075864796345338446835085965490727326321910504064289713096224505162064669468098869917122127404504020684923266241760132910227866687270305284709452526825496617772499645206699836925910690894082637401043498371591126455822280606361394115344316771769934353664284928294436414769615881993661388255577487709937004594753907845149034434521174560594039916268444697661821387470705325559577933196460996662145377564935474169708562389214773222865507182490430016186142192760452307670621142961767274704123616107220009743758647492753665149532164780849075146330071016691313420662882562618283865836983632108760710427516073348347788414796732427080410860761841281888307115098982135338406610652147087046874760995427473673509451553599769040367353385551052571682650317682405743993414862392331981432579182193321898940450865013610998098383993110996355981328001049731588596312131853801205046787642910669365600437305633431984879048998524701293300789344532868156679762880495532846386020133480265279836946393384995675049993707814746561543438930431384237878981847802886009971088695632988347711863122382785963653115132377931373647397429369411499028751972227999545182615488298951151926682112451355318472209990435355949887299922035062039816011086376236539782172380237846650673624510635034423187315338308212043804710999419227821039747552717416043890169723961305549371844836119803565896062025009093664399360172007383613354405094329072476518909502507724675841989412224659392163116352038147362479528539732089309533421910635702805576629720156556510767780805933453631121829561792887673002802450932122778852968418208261778476955644980385691275787372678040959158711733971103165232678060798127609246173504120182666874262805385275843979167609007743380748420751185119102921960339376280986753665085212869255321536787932521882574101866137054328973735862725370178558806639851350386944039604928258820180419178073649693885802597758398892014389747165465973510852605706234402069637065660129535734043582961473427275805630839510667375349259659518575646939723218275780003250593895303820539697558870511543073920827422440516299708739599768461206246629098112368012579891284802505094028916959765079395437191311379314427405135599630375642214527294341797246187597964074239147838993541565834716156858499036773056611353833367087548900413091981676330749041510337597307246885839246941715548295730750618505881581959528992660225626903439573313450666972952115230668696227920947779974336574472673471408928071411283888082693377378077293104110767513639476200610858040596019639058015761002337463869352228385801434957178125581445862930042479404065736859862007914604590255413929950088044710384758990326548097338166940500085452723713571394902463820308668541802838317527668064278489561005755859991718966786449154063570014497194249878920859731254275567514575206399118150736397483102490793841725653421894276769116598153430084637087769510295415136551734675054015239706042571746001089968440498845985477977905031632568489156557231006499726498721480800181770357701502983008879487243887718884416833034708723239505377642232944095773219137582371673924704216723002256883135779230394688900662466182532658490724406767024939579697217467485562998183149665611743997680482094166257463879660305171274925119226367615337524381656217330771650129520988754856467131862602387619964334867961514408328902061082833180891221325853682856469916007952105166960451695430614212305743006877217407155473217957577017595967640563812729153867513698712395570542350999228605975469962186195531354132139126436676900465429996811680550737866770665988027062972502001882845886145344368771455361304414465613369092862748276981946836480550952968681758714859972973082332924094777085275279923304892719633314751563311192746150389219290616780607901383451137066300684376267199885515143681266137319912103235469786756421210624899005553564022924345831264231038363416781719908354140411717740185950606674198348143345444247191436828225654380047860390575922417071802670646875454211626958746795398540784464654140381751149965273621123540880166990280149033225139460832668170930713868826549977374286127789417784752681328371818759103642140881783220739808059714203285309721443041845459183002833408705783138284973283761286182927136745161897366207237396132790944984014154408304074405393067540767126182547597130843470311389815695365971788564022750674237400323621850094765267521941901241387478279883426470873616812485384444012772521050072279315853096279121131160167772077952572613800240684421885453537121341902236379684012385255288607189967725694227433323948595075570839061877450159652184414998155476107548008054192318436948191732631430603548399790783307267636729090980772827355854348032260067472537097785464567761181807367424367391769863758072145859791485033700592994963793369100283444558089838054017635403737133019311293080958287612107380374800660269767842888358265737486556785868822015143046249655995760379768685318192365806469199584071845493606922169776137542662239658644989770921478134709127917460871630220821981434654245065731262683089579031012893360788644107230184805400373136014216229159146992019884148290014414312800903102107833305090238435726779416177246873411503598700003151092815700331081727415624680432977205070450456683898626301702989301145364477416856732512330376477881749036052572605520684370616116539755132541369303867783267208227323664249206432363089268768826650939691861683271739757479552993242406186992420363781929485368098035256331092448215269276219116259145886393677034653480367887126133367116968226450914997055448521259751870084720025674658752403932061045903070039438252019383102480929019684602472171298321628237994627125366359971898374425099120673688383738299653892030662843074547559074235345274029211606091346327684749522046010409575607348155101677203187580089224494752922031093841661588823584993931745149914395557357641584185479831702428523965451087525425464777294595230360946416541997797947136806344915998772409176443137371178542210740572121166868692153240490080384205921192622875440898261478908123698956367080804687628524499897440855677969456909042340530355943524640751677873953113928698614347227572144946891896093294375476741234907792754338349412323060078767610089949156126934038921148370217193387617823370358925817112869563450001367619897145400986643461922197676975930010555225198913002123021780831934330880446592954552165911855939202579781122952065357362914478404946474565003115498072056580360667380889572746464375428055819322299305089287806874537401327100274428317925355003451536693172112088227603942809788645727306979971285649576934354004030728440581746648376658498039958964243370183454151720285337810904113124462432903353964296651109482836884580127588701293156099225044518125460113274986014470437757313881001319276124676116614833528935557503106018449788994378274613854651708241613167681463911870000812845144341406739985430072772303758111613511094355614896323929750846383152930263582535361784837558519666949972251935515953807207838615142130284450051795239760968433198292598921623223582396390262548856855875458198371559008447860086745945709118128793228222051767509371866110013193625845223493949829511199280837860523506412769337548130609594264463425077601147334209139128541628183172262143783062962408149391997187528106367348876678481602342743230027158192404187686545826519361990687336892886715133840245486110982482004482721799496658712257174429044916781194824165631560303473833317665121218052780795958220298330611945164019413315550379662980215357680731124530585915969709973988055743550083279071844959752353594644354789680372126344509423070253995102864458237454677761013556916212309752286152053213998745673034127676503369636682306665552051562491132528926155863868503100849180920507680658265915276163719928694258350604859732273949286080260640627521341007801815105623787926212039424781833439433877206395801115809084190794320195178235740190546595990289617711776195270354051193727229722248442080440098750369411277686593022133010625031862085145076421052980508837197986052557750303949606158442838846866137510968441567309838079394349570013029265177957120625555851951313574029897589283475525334409858911400694449308432874005015554332587793895080241128538758725945136400838324944471346436826148195406004114845870234072926697740631325878634790667698266181501256117692275715291249164821702372884416357600996851100939411444677628186007072278522314941048564396255796808221289935799262208553889221164765220850367706476491496133789353761537391569177822237744837614120253342622508007300513473422771427333106345971803240244226950458090539326689103619381998838844036231795282435495362489670734155948067688515321073064476077859628627852283657244564306449096277517172656954238392941958409527253281659572534531428389629894005886539486824117113929627356938973482935854650278689437014798383826002058208853517073216288725214522205265969614962147884840129004507737252424605074339660818182960296019196314124998538422017695110361380561701016357743542531148669369994130940908368220071936435111978592782493491477052187226546109199597269439152400467901173602521030051886080337084840114810246351288263986170081804888380750203521448348740849154718714478857809574515499505005070789428842888410027877777455981132319940624176532148686316581736774410084063436959989519288310869124517866342559353458242589411390516469440377562665821577845936829909679754548350510473633770839151033854639602753486401635204633884342346714935641429160856846724874244782055113759168236472297793612971080302530934478115527737540458968990354808058309381267323593563098546564376209385371052808344607189076003388781618019853273759498566916704703448438363503416368325266403224174519476678140428319327482851882140344319384445475456765253419659194332132585432270070759038565239668227171300009189122050845185261514627937717597528852978637931711212529529443323757910072909001703558763798612480281463093944391916950129336315045285163539312868586427437296109446101235604877439863299611899755965996608749049271167685268675335991297583209089553296409523640116060078495005377892783750147344122123777907727134146647404489837589487675423294546899354220341669961366698976529978580795899055864050388507083137333076839766882463680992355219727241831735127646189112380485883115569477888101759708977682149644340317924443085170303692214137621194388641989508360339306459037361842937028710758321966607546113761076362543928614316242890754021082233620012309384737312220374269033838579928678572939434168287053763374091938184632261131740934278117918891642447513543478446040549455379834556163353815868441692054518698919434175386663900335756765603264363767906721626620330878425545157208117246381251512669846685887209013144861632560461019513371814585249988176629925142145014710206193190373671380347663431029705222414785030188275106347446241258707937339085095757724316735066885094208761536164440443755860160625837091300574162065273670941888667964570550744724714137001968165215954380698515999483361357521322106131884771926641942395351412233546746461491743013475866037338176532604557402925472279360288926189385899695656876783017186873988763887625972743976062813263446647679413679726184933395074665820441677989806604203937116666336696282569349097348391155869004856032512219241534268522369316036765491047702733521540143168338872968405443296967684036073182435336224865433823598123544167514608340781166661858781733980624199254577853462678039039937557802759942957205281043775666979396838109341118959475766220191217535093638985465283078692370662512323684390235587636228324657161183714078807661162179517887972801841572019639084400269037450381192797170314489871815031319992111563908303017288012610642062005359240278277393918026391717720136125984776933980647063763022608885359937595079088789081791802195768033381968605120487107610874898411568740159953020639098138993261095538868264084012160831040525974539251576403732889086736948366404734622708560040891610782221943405179794550155347682966855320097501905581419914591124181501062255627411231571377358697194374130822027383843815940638571387913337592362330440453487233047240668784133333047898995255221468847973813568083995644533005222551320155267768895412770329278670827490041172076663112783638152343547681663121189086864991380236281775275946061211813342054791801619220346912760381900528012343973598270461499814511324618195658528232044658270082064934680251556511272822083811563192256509945201222666603226059396247019707668580396286975551115189973049085051758765306785758000660424066894170620303846785860257370634352599586885088679654004465187790208942935153217316750113738031466034642429489076322228133763299919641336502028627289268087560036613770607463575515079087982099722660130472907825746908175451952405573791313113170617323191598673971588373108168916968657704150695512947652386134815766967580364762005289060222744531744305498402863048850869557761528650326080941160688570698894762046478500884303973107412774191961697450517110329082815201273888663422631492147090220016940636504812047036016738602290671629816411198202268607961324739550057567564568204754619040423011062371367395995678940884705976859514505017241517746017351430990972615509378334720000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [70]:
def square(n):
    n=n**2
    return n

In [71]:
square(5)

25

In [72]:
x=lambda n:n**2 #anonymous function/ lambda

In [73]:
x(5)

25

In [74]:
#boolean/Truthness

In [75]:
#0,0.0,0j,'',None,[],{},set(),False,range(0)==>boolean value/ Truthness is False

In [76]:
bool(0)

False

In [77]:
bool(())

False

In [78]:
all([0,'',{},set(),False])

False

In [79]:
any([0,'',None,[],{},set(),False,-1])

True

In [2]:
if 1:
    print('hello')

hello

In [4]:
if None:
    print('hello')

In [21]:
s=lambda x,y:x+y

In [22]:
s(3,5)

8

In [23]:
filter(None,[1,2,0,False,5,'ram',{},5.5])

In [24]:
list(filter(None,[1,2,0,False,5,'ram',{},5.5]))#True matrai print garxa

[1, 2, 5, 'ram', 5.5]

In [26]:
for i in filter(None,[1,2,0,False,5,'ram',{},5.5]):
    print(i)

1
2
5
ram
5.5

In [29]:
x=filter(None,[1,20,False,5,'ram',{},5.5])

In [30]:
x

In [31]:
next(x) #iterator list and loops are also iterator

1

In [46]:
def is_odd(n):
    if n%2==1:
        return True
    else:
        return False

In [47]:
is_odd(5)

True

In [9]:
list(filter(is_odd,[1,27,12,17,8,92,9,3,2,1,5]))

[1, 27, 17, 9, 3, 1, 5]

In [3]:
def is_odd(n):
    return n%2==1

In [4]:
x=lambda n:n%2==1

In [6]:
x(33)

True

In [8]:
list(filter(lambda n:n%2==1,[1,27,12,17,8,92,9,3,2,1,5]))

[1, 27, 17, 9, 3, 1, 5]

In [10]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(function, iterable, /, *iterables)
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(self, /)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [11]:
def square(n):
    return n**2

In [13]:
square(9)

81

In [15]:
list(map(square,[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289]

In [17]:
list(map(lambda n:n**2,[1,2,3,4,5,6,7,8,9,10]))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
strings=['1','2','3','4','5']
int_list = list(map(lambda x: int(x), strings))

In [19]:
int_list

[1, 2, 3, 4, 5]

In [20]:
from functools import reduce
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, iterable[, initial], /) -> value

    Apply a function of two arguments cumulatively to the items of an iterable, from left to right.

    This effectively reduces the iterable to a single value.  If initial is present,
    it is placed before the items of the iterable in the calculation, and serves as
    a default when the iterable is empty.

    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])
    calculates ((((1 + 2) + 3) + 4) + 5).

In [21]:
sum=reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])
print(sum)

15

In [27]:
#[1, 2, 3, 4, 5]
  #↓   ↓
 #1 + 2 = 3
      #      #3 + 3 = 6
          #↓    ↓
          #6 + 4 = 10
              #↓    ↓
             #10 + 5 = 15

In [24]:
#OOP=> object oriented programming
#class=>>Person==>structure/Blueprint?Template
#object=> Ram=> actually exist garxa/instance of class

In [7]:
class person:
    #attribute/property
    name='Ram'
    age=22
    gender='male'
    height=5.5
    weight=60

    #characteristicsaction/bheaviour/method
    def walk():
        print('The person is walking')
    def eat():
        print('The person is eating')
    def sleep():
        print('The person is sleeping')
p1=person() #object
print(p1)

<__main__.person object at 0x105de12b0>

In [8]:
print(p1.name)

Ram

In [16]:
class person:
    def __init__(self,name,age,address):
        print(name,age,address)

    def walk(self):
          print('Person is walking')

In [17]:
p1=person('Ram',22,'KTM')

Ram 22 KTM

In [20]:
class person:
    def __init__(self,name,age,address):
        self.name=name
        self.age=age
        self.address=address

    def walk(self):
          print('Person is walking')

In [22]:
p2=person('Sita',22,'KTM')

In [23]:
p2.name

'Sita'

In [24]:
p2.address

'KTM'

In [25]:
p2.age

22

In [46]:
class student():
    def __init__(self,name,age,address,college,faculty,roll_no):
        self.name=name
        self.age=age
        self.address=address
        self.college=college
        self.faculty=faculty
        self.roll_no=roll_no
          
    def learn(self):
        print('Student is learning')

In [31]:
p3=student('Prason',19,'KTM','St Xaviers','Science',21)

In [32]:
p3.name

'Prason'

In [48]:
p3.faculty

'Science'

In [57]:
class Student:
    def __init__(self, name, age, address, college, faculty, roll_no):
        self.name = name
        self.age = age
        self.address = address
        self.college = college
        self.faculty = faculty
        self.roll_no = roll_no
        self.subjects = []  # Added to initialize subjects list

    def learn(self):
        print('Student is learning')

    def add_subjects(self, subject_name):  # Fixed 'slef' to 'self'
        self.subjects.append(subject_name)

In [65]:
class Student:
    def __init__(self, name, age, address, college, faculty, roll_no):
        self.name = name
        self.age = age
        self.address = address
        self.college = college
        self.faculty = faculty
        self.roll_no = roll_no
        self.subjects = []

    def learn(self):
        print('Student is learning')

    def add_subjects(self, subject_name):
        if subject_name not in self.subjects:
            self.subjects.append(subject_name)

# Your instantiation
s1 = Student(name='Ram', age=23, address='KTM', college='NCIT', faculty='science', roll_no=21)

# You can now use s1
print(s1.name)      
print(s1.age)       
print(s1.address)   
print(s1.college)   
print(s1.faculty)   
print(s1.roll_no)   
s1.learn()          
s1.add_subjects("Physics")
print(s1.subjects)

Ram
23
KTM
NCIT
science
21
Student is learning
['Physics']

In [67]:
s1.add_subjects('Django')

In [68]:
s1.add_subjects('Django')

In [69]:
s1.subjects

['Physics', 'Django']

In [85]:
#rectangle(l,b)
#area=l*b
#perimeter=2*(l+b)

class Rectangle:
    def __init__(self,length,breadth):
        self.length=length
        self.breadth=breadth
        
    def area(self):
        return self.length*self.breadth

    def perimeter(self):
        return 2*(self.length+self.breadth)

In [86]:
r1=Rectangle(2,3)

In [87]:
print(r1.area())

6

In [89]:
print(r1.perimeter())

10

In [94]:
class person:
    #attribute/property
    name='Ram'
    age=22
    gender='male'
    height=5.5
    weight=60

    #characteristicsaction/bheaviour/method
    def walk(self):
       print(f'{self.name}is walking')
    def eat(self):
        print(f'{self.name}is eating')
    def sleep(self):
        print(f'{self.name}is sleeping')
    def info(self):
        print(f'Name:{self.name}')
        print(f'Age:{self.age}')
        print(f'Address:{self.address}')
p1=person() 
print(p1)

class Student:
    def __init__(self, name, age, address, college, faculty, roll_no):
        self.name = name
        self.age = age
        self.address = address
        self.college = college
        self.faculty = faculty
        self.roll_no = roll_no
        self.subjects = []

    def learn(self):
        print('Student is learning')

    def add_subjects(self, subject_name):
        if subject_name not in self.subjects:
            self.subjects.append(subject_name)

    def walk(self):
       print(f'{self.name}is walking')
    def eat(self):
        print(f'{self.name}is eating')
    def sleep(self):
        print(f'{self.name}is sleeping')

    def info(self):
        print(f'Name:{self.name}')
        print(f'Age:{self.age}')
        print(f'Address:{self.address}')
        print(f'Faculty:{self.faculty}')
        print(f'Rollno:{self.roll_no}')
        print(f'Subject:{self.subject}')
        print(f'College:{self.college}')
        
s1 = Student(name='Ram', age=23, address='KTM', college='NCIT', faculty='science', roll_no=21)

print(s1.name)      
print(s1.age)       
print(s1.address)   
print(s1.college)   
print(s1.faculty)   
print(s1.roll_no)

<__main__.person object at 0x105de1a90>
Ram
23
KTM
NCIT
science
21

In [98]:
class Parent:
    def hello(self):
        print('Hello world')
class Child(Parent):#SIngle Inheritence
    pass

In [96]:
c=Child()

In [97]:
c.hello()

Hello world

In [53]:
class person:
    #attribute/property
    name='Ram'
    age=22
    gender='male'
    height=5.5
    weight=60

    #characteristicsaction/bheaviour/method
    def walk(self):
       print(f'{self.name}is walking')
    def eat(self):
        print(f'{self.name}is eating')
    def sleep(self):
        print(f'{self.name}is sleeping')
    def info(self):
        print(f'Name:{self.name}')
        print(f'Age:{self.age}')
        print(f'Address:{self.address}')
p1=person() 
print(p1)

class Student(person):
    def __init__(self, name, age, address, college, faculty, roll_no):
        self.name = name
        self.age = age
        self.address = address
        self.college = college
        self.faculty = faculty
        self.roll_no = roll_no
        self.subjects = []

    def learn(self):
        print('Student is learning')

    def add_subjects(self, subject_name):
        if subject_name not in self.subjects:
            self.subjects.append(subject_name)

    def walk(self):
       print(f'{self.name}is walking')
    def eat(self):
        print(f'{self.name}is eating')
    def sleep(self):
        print(f'{self.name}is sleeping')

s1 = Student(name='Ram', age=23, address='KTM', college='NCIT', faculty='science', roll_no=21)

print(s1.name)      
print(s1.age)       
print(s1.address)   
print(s1.college)   
print(s1.faculty)   
print(s1.roll_no)

<__main__.person object at 0x11065f4d0>
Ram
23
KTM
NCIT
science
21

In [101]:
s1 = Student(name='Ram', age=23, address='KTM', college='NCIT', faculty='science', roll_no=21)
s1.info()

Name:Ram
Age:23
Address:KTM

In [54]:
class Person:
    # Constructor to initialize attributes
    def __init__(self, name='Ram', age=22, address='Unknown'):
        self.name = name
        self.age = age
        self.gender = 'male'
        self.height = 5.5
        self.weight = 60
        self.address = address

    # Methods
    def walk(self):
        print(f'{self.name} is walking')
    
    def eat(self):
        print(f'{self.name} is eating')
    
    def sleep(self):
        print(f'{self.name} is sleeping')
    
    def info(self):
        print(f'Name: {self.name}')
        print(f'Age: {self.age}')
        print(f'Address: {self.address}')

p1 = Person()
print(p1) 

class Student(Person):
    def __init__(self, name, age, address, college, faculty, roll_no):
        super().__init__(name, age, address)  
        self.college = college
        self.faculty = faculty
        self.roll_no = roll_no
        self.subjects = []

    def learn(self):
        print('Student is learning')

    def.length_getter()ef add_subjects(self, subject_name):
        if subject_name not in self.subjects:
            self.subjects.append(subject_name)
            
    def walk(self):
        print(f'{self.name} is walking')
    
    def eat(self):
        print(f'{self.name} is eating')
    
    def sleep(self):
        print(f'{self.name} is sleeping')

s1 = Student(name='Ram', age=23, address='KTM', college='NCIT', faculty='science', roll_no=21)

print(s1.name)      # Ram
print(s1.age)       # 23
print(s1.address)   # KTM
print(s1.college)   # NCIT
print(s1.faculty)   # science
print(s1.roll_no)   # 21

SyntaxError: invalid syntax (1674401577.py, line 40)

In [11]:
#Circle
#area=pi*r**2
#perimeter=2*pi*r

class Circle():
    pi = 3.14

    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return self.radius * self.radius * Circle.pi
   
    def perimeter(self):
        return self.radius*2*Circle.pi

    def setRadius(self, radius):
        self.radius = radius

    def getRadius(self):
        return self.radius

In [12]:
c=Circle(5)

In [13]:
print(c.area())
print(c.perimeter())

78.5
31.400000000000002

In [1]:
numbers=[1,2,3,4,5,6]
sum=0
for number in numbers:
    sum+=number
print(sum)

21

In [5]:
names = ['ram', 'shyam', 'gita', 'sita']
foods = ['momo', 'chowmein', 'thukpa']
for food in foods:
    for name in names:
        print(f'{name} likes to eat {food}')

ram likes to eat momo
shyam likes to eat momo
gita likes to eat momo
sita likes to eat momo
ram likes to eat chowmein
shyam likes to eat chowmein
gita likes to eat chowmein
sita likes to eat chowmein
ram likes to eat thukpa
shyam likes to eat thukpa
gita likes to eat thukpa
sita likes to eat thukpa

In [8]:
class Employee:
	def __init__(self, first, last, salary):
		self.first = first
		self.last = last
		self.salary = salary
		self.email = first + "." + last + "@company.com"

	def full_name(self):
		return ("{} {}".format(self.first, self.last))

emp1 = Employee("Amarjith", "Karippath", 50000)
emp2 = Employee("Sam", "Jhon", 40000)


print (Employee.full_name(emp2))

Sam Jhon

In [3]:
tea={'ram','hari','sita'}
coffee={'shyam','gita','sita'}
tea_or_coffee_only=tea.symmetric_difference(coffee)
print(tea_or_coffee_only)

{'shyam', 'hari', 'gita', 'ram'}

In [5]:
class Father:
    pass
class Mother:
    pass
class Child(Father,Mother):
    pass

In [9]:
#Parent class 1
class Person:
    def person_info(self,name,age):
        print('Inside person class')
        print('Name:',name,'Age:',age)
#Parent class 2
class Company:
    def company_info(self,company_name,location):
        print('Inside company class')
        print('Name:',company_name,'location:',location)
#Child class
class Employee(Person,Company): #multiple inheritance
    def employee_info(self,salary,skill):
        print('Inside employee class')
        print('Salary:',salary,'Skill:',skill)

#Create object of employee
emp=Employee()
#acess data
emp.person_info('Jessa',28)
emp.company_info('Google','Atlanta')
emp.employee_info(12000,'Machine Learning')

Inside person class
Name: Jessa Age: 28
Inside company class
Name: Google location: Atlanta
Inside employee class
Salary: 12000 Skill: Machine Learning

In [10]:
#Multi-Level inheritance
class Person:
    pass
class Student(Person):
    pass
class Bachelor_student(Student):
    pass

In [16]:
class Person:
    # Constructor to initialize attributes
    def __init__(self, name='Ram', age=22, address='Unknown'):
        self.name = name
        self.age = age
        self.gender = 'male'
        self.height = 5.5
        self.weight = 60
        self.address = address

    # Methods
    def walk(self):
        print(f'{self.name} is walking')

    def eat(self):
        print(f'{self.name} is eating')

    def sleep(self):
        print(f'{self.name} is sleeping')

    def info(self):
        print(f'Name: {self.name}')
        print(f'Age: {self.age}')
        print(f'Address: {self.address}')

# Create a Person object
p1 = Person()
print(p1)  # This will print the object’s memory address unless __str__ is defined

class Student(Person):
    def __init__(self, name, age, address, college, faculty, roll_no):
        super().__init__(name, age, address)  # Call Person's __init__
        self.college = college
        self.faculty = faculty
        self.roll_no = roll_no
        self.subjects = []

class Bachelor_student(Student):
    def __init__(self, name, age, address, college, faculty, roll_no, university):
        # Call Student's __init__ method
        super().__init__(name, age, address, college, faculty, roll_no)
        self.university = university

    # Override Student's info method
    def info(self):
        super().info()  # Call Student's (and thus Person's) info method
        print(f'University: {self.university}')

    def learn(self):
        print('Student is learning')

    def add_subjects(self, subject_name):
        if subject_name not in self.subjects:
            self.subjects.append(subject_name)

# Create a Bachelor_student object (not Student, since university is included)
s1 = Bachelor_student(name='Ram', age=23, address='KTM', college='NCIT', 
                     faculty='science', roll_no=21, university='TU')
s1.info()  # Call the overridden info method

<__main__.Person object at 0x107f11400>
Name: Ram
Age: 23
Address: KTM
University: TU

In [19]:
#Hiearchial inheritance
class Person:
    pass
class Student(Person):
    pass
class Teacher(Person):
    pass
class Employee(Person):
    pass
class Principal(Person):
    pass

In [29]:
class Vehicle:
    def info(self):
        print('This is vehicle')
class Car(Vehicle):
    def car_info(self,name):
        print('Car name is',name)
class Truck(Vehicle):
    def truck_info(self):
        print('Truck name is',name)
obj1=Car()
obj1.info()
obj1.car_info('BMW')

obj2=Truck()
obj2.info()
obj2.truck_info('Tata')

This is vehicle
Car name is BMW
This is vehicle

TypeError: Truck.truck_info() takes 1 positional argument but 2 were given

In [43]:
class Vehicle:
    def vehicle_info(self):
        print('Inside Vehicle Class')

class Car(Vehicle):
    def car_info(self):
        print('Inside Car class')

class Truck(Vehicle):
    def truck_info(self):
        print('Inside truck class')

# SportsCar inherits from both Car and Truck (hybrid inheritance)
class SportsCar(Car, Truck):
    def sports_car_info(self):
        print('Inside sports car class')

# Create object
s_car = SportsCar()
s_car.vehicle_info()    # Output: Inside Vehicle Class
s_car.sports_car_info() # Output: Inside sports car class
s_car.truck_info()      # Output: Inside truck class

Inside Vehicle Class
Inside sports car class
Inside truck class

In [35]:
class Hello():
    def hi(self):
        print(self)

In [36]:
h1=Hello()

In [37]:
print(h1)

<__main__.Hello object at 0x107f11e80>

In [38]:
h1.hi() #Hello.hi(h1)

<__main__.Hello object at 0x107f11e80>

In [39]:
Hello.hi(h1)

<__main__.Hello object at 0x107f11e80>

In [52]:
class Rectangle:
    def __init__(self, length, width): #public attribute
        self.length = length
        self.width = width
    #public methods
    def area(self):
        return self.length * self.width
    
    def perimeter(self):
        return 2 * (self.length + self.width)

In [53]:
r1=Rectangle(5,2)

In [54]:
r1.area()

10

In [55]:
r1.perimeter()

14

In [56]:
r1.length

5

In [57]:
r1.width

2

In [59]:
class Rectangle:
    def __init__(self, length, width):
        self.__length = length  # Private attribute
        self.__width = width    # Private attribute
    
    def area(self):
        return self.__length * self.__width
    
    def perimeter(self):
        return 2 * (self.__length + self.__width)

In [64]:
r1=Rectangle(5,2)
r1.area()

10

In [61]:
r1.length# priivate vayo!!

AttributeError: 'Rectangle' object has no attribute 'length'

In [65]:
r1.perimeter()

14

In [125]:
class Rectangle:
    def __init__(self, length, width):
        self.__length = length  # Private attribute
        self.__width = width    # Private attribute
        
    def area(self):
        return self.__length * self.__width
        
    def perimeter(self):
        return 2 * (self.__length + self.__width)
    
    def length_getter(self):
        return self.__length
    
    def width_getter(self):
        return self.__width
    def length_setter(self,value):
        self.__length=value

In [126]:
r1=Rectangle(5,2)

In [127]:
r1.length_getter()

5

In [128]:
r1=Rectangle(5,2)

In [129]:
r1.length_setter(10)

In [130]:
r1.length_getter()

10

In [138]:
class Rectangle:
    def __init__(self, length, width):
        self.__length = length  # Private attribute
        self.__width = width    # Private attribute
        
    def area(self):
        return self.__length * self.__width
        
    def perimeter(self):
        return 2 * (self.__length + self.__width)
    
    def length_getter(self):
        return self.__length
    
    def width_getter(self):
        return self.__width
    
    def length_setter(self, value):
        if not isinstance(value, (float, int)):
            raise ValueError('Invalid Error')
            self.__length = value
            
    def width_setter(self, value):
        if not isinstance(value, (float, int)):
            raise ValueError('Invalid Error')
            self.__width = value

In [139]:
r1=Rectangle(4,5)

In [140]:
r1.length_getter()

4

In [141]:
r1.length_setter('ram')

ValueError: Invalid Error

In [143]:
r1.width_setter('Ram')

ValueError: Invalid Error

In [5]:
class Rectangle:
    def __init__(self, length, width):
        self.__length = length  # Private attribute
        self.__width = width    # Private attribute
        
    def area(self):
        return self.__length * self.__width
        
    def perimeter(self):
        return 2 * (self.__length + self.__width)
    
    def length_getter(self):
        return self.__length
    
    def width_getter(self):
        return self.__width
    
    def length_setter(self, value):
        if not isinstance(value, (float, int)):
            raise ValueError('Invalid Error')
            self.__length = value
        if value<=0:
            raise ValueError('Must be greater than zero')
            self.length=value
    def width_setter(self, value):
        if not isinstance(value, (float, int)):
            raise ValueError('Invalid Error')
            self.__width = value

In [6]:
length_setter(-1)

NameError: name 'length_setter' is not defined

In [10]:
class Rectangle:
    def __init__(self, length, width):
        self.__length = length  # Private attribute
        self.__width = width    # Private attribute
        
    def area(self):
        return self.__length * self.__width
        
    def perimeter(self):
        return 2 * (self.__length + self.__width)
    def validate():
        if not isinstance(value, (float, int)):
            raise ValueError('Invalid Error')
        if value <=0:
            raise ValueError('Must be greater than zero')
        
    def length_getter(self):
        return self.__length
    
    def width_getter(self):
        return self.__width
    
    def length_setter(self, value):
        self.validate(value)
        self.length=value
    def width_setter(self, value):
        if not isinstance(value, (float, int)):
            self.validate(value)
            self.__width=value

In [13]:
class Rectangle:
    def __init__(self, length, width):
        self.__length = length  # Private attribute
        self.__width = width    # Private attribute
        
    def area(self):
        return self.__length * self.__width
        
    def perimeter(self):
        return 2 * (self.__length + self.__width)
    def __validate():#Private method (Encapsulation)
        if not isinstance(value, (float, int)):
            raise ValueError('Invalid Error')
        if value <=0:
            raise ValueError('Must be greater than zero')
        
    def length_getter(self):
        return self.__length
    
    def width_getter(self):
        return self.__width
    
    def length_setter(self, value):
        self.__validate(value)
        self.length=value
    def width_setter(self, value):
        if not isinstance(value, (float, int)):
            self.__validate(value)
            self.__width=value

In [14]:
class Points:
    def __init__(self,x,y):
        self.x=x
        self.y=y

In [16]:
class Points:
    def __init__(self,x,y):
        self.x=x
        self.y=y
#special/dunder
    def __str__(self):
        return f'Point({self.x},{self.y})'

In [18]:
p=Points(8,9)

In [19]:
print(p)

Point(8,9)

In [1]:
class Points:
    def __init__(self,x,y):
        self.x=x
        self.y=y
#special/dunder
    def __str__(self):
        return f'Point({self.x},{self.y})'
    def __repr__(self):
        return f'Point({self.x},{self.y})'

In [2]:
class Points:
    def __init__(self,x,y):
        self.x=x
        self.y=y
#special/dunder
    def __str__(self):
        return f'Point({self.x},{self.y})'
    def __repr__(self):
        return f'Point({self.x},{self.y})'
    def __add__(self,other):
        total_x=self.x+other.x
        total_y=self.y+other.y
        return Points(total_x,total_y)

In [3]:
p1=Points(1,2)
p2=Points(2,3) 
p1+p2#Method overloading

Point(3,5)

In [34]:
class Points:
    def __init__(self,x,y):
        self.x=x
        self.y=y
#special/dunder
    def __str__(self):
        return f'Point({self.x},{self.y})'
    def __repr__(self):
        return f'Point({self.x},{self.y})'
    def __sub__(self,other):
        total_x=self.x-other.x
        total_y=self.y-other.y
        return Points(total_x,total_y)

In [35]:
p1=Points(1,2)
p2=Points(2,3) 
p1-p2#Method overloading

Point(-1,-1)

In [37]:
import math 

p1 = (1, 2)
p2 = (2, 3)

# Calculate distances from origin (0, 0)
dist_p1 = math.sqrt(p1[0]**2 + p1[1]**2)  # √(1² + 2²) = √5
dist_p2 = math.sqrt(p2[0]**2 + p2[1]**2)  # √(2² + 3²) = √13

if dist_p1 > dist_p2:
    print("p1 is greater than p2 (by distance)")
elif dist_p2 > dist_p1:
    print("p2 is greater than p1 (by distance)")
else:
    print("p1 and p2 are equal (by distance)")

p2 is greater than p1 (by distance)

In [43]:
from math import sqrt
class Points:
    def __init__(self,x,y):
        self.x=x
        self.y=y
#special/dunder
    def __str__(self):
        return f'Point({self.x},{self.y})'
    def __repr__(self):
        return f'Point({self.x},{self.y})'
    def __sub__(self,other):
        total_x=self.x-other.x
        total_y=self.y-other.y
        return Points(total_x,total_y)
    def __gt__(self,other):
        self_distance=sqrt(self.x**2+self.y**2)
        other_distance=sqrt(other.x**2+other.y**2)
        if self_distance>other_distance:
            return True
        else:
            return False

In [44]:
p1=Points(1,2)
p2=Points(2,3) 
p1>p2

False

In [46]:
p1<p2

True

In [47]:
from math import sqrt
class Points:
    def __init__(self,x,y):
        self.x=x
        self.y=y

    def __eq__(self,other):
        if self.x==other.x and self.y==other.y:
            return True
        else:
            return False

In [50]:
p1=Points(1,2)
p2=Points(1,2)
p1==p2

True

In [51]:
#File handling

In [56]:
f=open('hello.txt','w')
f.write('Hello world')
f.close()

In [57]:
f=open('hello.txt','r')
print(f.read())
f.close()

Hello world

In [61]:
f.closed

True

In [62]:
f=open('hello.txt','r')
print(f.read())
1/0
f.close()

Hello world

ZeroDivisionError: division by zero

In [63]:
f.closed

False

In [8]:
#Exception/Error handling

In [11]:
def division(a,b):
    div=a/b
    return div

In [13]:
division(4,2)

2.0

In [18]:
def division(a,b):
    try:
        div=a/b
        return div
    except ZeroDivisionError:
        print('Cannot divide by zero')

In [19]:
division(4,0)

Cannot divide by zero

In [20]:
def division(a,b):
    try:
        div=a/b
        return div
    except ZeroDivisionError:
        print('Cannot divide by zero')
    except TypeError:
        print('Not a valid datatype')

In [24]:
division(4,'a')

Not a valid datatype

In [26]:
def division(a,b):
    try:
        div=a/b
        return div
    except ZeroDivisionError:
        print('Cannot divide by zero')
    except TypeError:
        print('Not a valid datatype')
    except Exception:
        print('Something went wrong')

In [27]:
def division(a,b):
    try:
        div=a/b
        return div
    except Exception as e:
        print(e)

In [28]:
division(4,0)

division by zero

r	Read -Opens a file for reading only. The file pointer is placed at the beginning of the file. This is the default mode.
t	Text - Opens in text mode. (default).
b	Binary - Opens in binary mode (e.g. images).
x	Create - Opens a file for exclusive creation. If the file already exists, the operation fails.
rb	Opens a file for reading only in binary format. The file pointer is placed at the beginning of the file. This is the default mode.
r+	Opens a file for both reading and writing. The file pointer placed at the beginning of the file.
rb+	Opens a file for both reading and writing in binary format. The file pointer placed at the beginning of the file.
w	Write - Opens a file for writing only. Overwrites the file if the file exists. If the file does not exist, creates a new file for writing.
wb	Opens a file for writing only in binary format. Overwrites the file if the file exists. If the file does not exist, creates a new file for writing.
w+	Opens a file for both writing and reading. Overwrites the existing file if the file exists. If the file does not exist, creates a new file for reading and writing.
wb+	Opens a file for both writing and reading in binary format. Overwrites the existing file if the file exists. If the file does not exist, creates a new file for reading and writing.
a	Append - Opens a file for appending. The file pointer is at the end of the file if the file exists. That is, the file is in the append mode. If the file does not exist, it creates a new file for writing.
ab	Opens a file for appending in binary format. The file pointer is at the end of the file if the file exists. That is, the file is in the append mode. If the file does not exist, it creates a new file for writing.
a+	Opens a file for both appending and reading. The file pointer is at the end of the file if the file exists. The file opens in the append mode. If the file does not exist, it creates a new file for reading and writing.
ab+	Opens a file for both appending and reading in binary format. The file pointer is at the end of the file if the file exists. The file opens in the append mode. If the file does not exist, it creates a new file for reading and writing.

 Open a file
data = open("data.txt", "wb")
print ("Name of the file: ", data.name)
print ("Closed or not : ", data.closed)
print ("Opening mode : ", data.mode)
data.close()  #closed data.txt file

# Open a file
data = open("data_1.txt", "r+")
file_data = data.read(27) # read 18 byte only
print("current position after reading 27 byte :",data.tell())
data.seek(0) #here current position set to 0 (starting of file)
full_data = data.read() #read all byte
print(file_data)
print(full_data)
print("position after reading file : ",data.tell())
data.close()

In [34]:
def division(a,b):
    try:
        div=a/b
    except ZeroDivisionError:
        print('Cannot divide by zero')
    except TypeError:
        print('Not a valid datatype')
    except Exception:
        print('Something went wrong')
    else:
        print('I will run if there is no exception raised')
        return div

In [35]:
division(9,3)

I will run if there is no exception raised

3.0

In [36]:
division(9,0)

Cannot divide by zero

In [37]:
def division(a,b):
    try:
        div=a/b
    except ZeroDivisionError:
        print('Cannot divide by zero')
    except TypeError:
        print('Not a valid datatype')
    except Exception:
        print('Something went wrong')
    else:
        print('I will run if there is no exception raised')
        return div
    finally:
        print('I will run no matter what the code is')

In [38]:
division(9,0)

Cannot divide by zero
I will run no matter what the code is

In [46]:
f = open('hello.txt', 'r')
print(f.read())
try:
    1 / 0
except ZeroDivisionError:
    print('Cannot divide by zero')
    f.close()

Hello world
Cannot divide by zero

In [47]:
with open('Hello.txt','r')as f:
    print(f.read())

Hello world

In [48]:
f.closed

True

In [52]:
with open('Hello.txt','r')as f:
    print(f.closed)
    print(f.read())
    print(f.closed)
    1/0

False
Hello world
False

ZeroDivisionError: division by zero

In [51]:
print(f.closed)

True

In [53]:
with open('Hello.txt','r')as f:
    print(f.read())

Hello world
wrhfjdkjcbhdbhcbfhd
dcnd
cedc'eds
sc
dsc

In [54]:
with open('Hello.txt','r')as f:
    print(f.read(11))

Hello world

In [55]:
with open('Hello.txt','r')as f:
    for i in f:
        print(i)

Hello world

wrhfjdkjcbhdbhcbfhd

dcnd

cedc'eds

sc

dsc

In [56]:
with open('Hello.txt','rt')as f:
    print(f.read(11))
with open('Hello.txt')as f: # BY DEFAULT!
    print(f.read(11))

Hello world
Hello world

In [57]:
with open('logo.png','rt') as f:
    print(f.read())

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x89 in position 0: invalid start byte

In [59]:
with open('logo.png','rb') as f:
    print(f.read())

b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\x00@\x00\x00\x00@\x08\x06\x00\x00\x00\xaaiq\xde\x00\x00\x00\x06bKGD\x00\xff\x00\xff\x00\xff\xa0\xbd\xa7\x93\x00\x00\x00\tpHYs\x00\x00\x06\xe6\x00\x00\x06\xe6\x01E\x01\xf3\xd9\x00\x00\x00\x07tIME\x07\xde\x0c\x0c\x16"\x1a)\xbd\xe5\xde\x00\x00\x08\x11IDATx\xda\xed[}lUg\x19\xff=\xb7\xa5"\xad\t\x8a\x97\x8dm\xd1\xe0:\x84v\x93U\x836\x8a\x01u\x04\xdd\xec6\xc5\x12\xc7D\xa3.\x93u\x9a\x8d\xb4:\rn\xb93\x88\xe0\x18\x88\x8bd\xfee\xc4i\xb2\xa1\xf8A\x97\xc9V\xb0\xc0V(\x13\xd6t.3\x1d\x10#\xf2Qh7\xa6\xa5\xeb\xc7=\xcf\xcf?\xee\xb9\xe7\x9es\xef9\xe7\xbe\xe7\xf6v;\xc6\xbem\xd3\xf7\xbe\xe7\xde\xb7\xe7\xf9=\xcf\xef\xf9:o\x81\xa915\xa6\xc6\xff\xf3\x90\xc9\xdc\xfc\xe6\x9ft\\6>\xc6\xe5$\xe7\x03HR\x99$9\x9bd\x12\xaa\xb3IN\'9Hb@\xa1\x03\t\x8b\x83\n\x0c(\xac\x01Q\xed\x1d\x9a6\xfd\xc9\xa3\xa9\xa6\xe1\xff)\x00\x9aS/U\r\xd7\xf4\xb7)\xb1\x02\xd4\x06\x90B\x12\xd9\x1f8s-\\\xd3\xdc5{mX\xc9]\xe9\x84\xd5\xd6\xbdaU\x7f\xec\x01\xb8i\xeb\xfe\x05\xb0\xf47$\xafG\x9e\x90^\xe1\x0b\x04\xf5y\x9f\xeb\xb3\xca\x0b\xa4\xf5\xb5C\x0f}\xa9=\xb6\x004?\xf1D\xc5\xf0?\x93\x7f\x07Y\xcb<-\x1b\tY\xf0\xbe\x82\xcf\x8e\x13\xdax\xf8\xa1\xd5\xc7\xca\t@\xa2\\\x1b\r\x9fJ\xde\xe6\x16^\x89\x03P\xdc"\xd4[H\x1cp\x0b\t\x1f0\x0c\xd6\xa6A\xf1\xab\xa5\xa9_L/\'\x00\x95\xe5\xda\x88\xcaO\xc2\x11\x9e\x17\xabFF>\xb3\xdbv`M\xa9\xdd\x1doT$N\x83\x9c\xe9o\t\xc6ku\xc3\xffN\xdc\x00\xa0=v\x16\x00`\x0eA\x00\x04\x88]\xbb]\xde{w\xaai\x18\xe4\xaeB\r#D\xeb\xf0\xb7\x04\xc5\x87cI\x01R\x93\xd9\x1b\x05\xac\xc5 \xc5uQH.\x0e\xd2p4ZX\x0bcI\x01!*5\xa7\xbdy\xcb7<\xf5`\xe5\x8f\xda\xb7\x02\xc0\xc8\x0f\xda\xd7\x12\x9c\x07\xdbB\xdc_@$\n\x00\x8a\xb7\xc5\x12\x00\xcd\x8b\xebJ\xdc?\x9a\x96\xd6\x8cEpF\xa8\x86]`x\x00\xf2\xb3\x04\x10\xf1t\x82\xfef;\xa3\xb8\x93C\xb0\xd6\xf3\xec\xc5\xf6/\xf1\x04 \x9c\xc3\x98h\x08\xf4XKL-@w\x12<\x0c\x02\xa2\x84\x02P[\x8b`V{\x04\x15P\x10\xf6\xe4#\x04\xaf\x0f\x17\xdc\x07\xdc8\x02\xf0\xf4\xba\x1b\x7f\x18\xf53\x1f\xfd\xce\xe3\x1ba\x03`\x9c\x0f\xa8\xbe5\x00\xdc\xf4p\xe7\'\xa8\xda\xa0\xd4\x05 \xaf\x02)\xcc\xdeL&\xf9\x01\xa1\xa0\xda\xdaeF\xd3\xb4h\xdf\xb3\x05P\xed\xf0O@\t\x8b:O\x8a\xe6\x03\xde5\xc7\xe2\xfa[[\xa1X\x96w\x9b\x97\x90`\x0fT\xfe\x8a\xcb\xdf\xb1G$\xa5\x13\x06\xa0i\xcb\xbe%T\xd9\xa8\xaa\x8d !\x1e\x8f\x8c\x00\x87\x06\xaf\xd7\x16:\xfe\x8b\xae\xb0\'%\xf8\x03W\xf1r\x1d\x04\xcb\x0b\xb9\x88\xcf\x03\n\x9c}\xed\x19\x9e\xfd\xd6\xed2\xe7\x91\x0b%\'BM[:[T\xa5\x93d\xe3\xc4\x92\x17\x9f\xb5\x82|\x00!\x14\x80!\xf7\xb3\xd6g\x01\xd0e\xb0\xf40\xcf\xb5U\x97\x04@\xd3\xc3\xfbV\xa8\xe2\x11\x13n\xa2\\kA\xf9\x80\x89\xe7\xcf\nNu\x81`\xbd\x0f\xe9\xa1\x07#\x03p\xeb\xd6\xbf\xcc$\x12;@M\x98\xe4\xef\x13,p\x8c\xc0\r\xd7z\x81\xe0\xae\xd7\xe9{\xf8\x8f;\xe6F\x02\xc0R\xf92\xa93\xbc\t\x88\xa96Q\xd6| \xd4\xf4\x1d!5Oh\x87\x06\x00\xb5\x12H\x7f!\x12\x00J|\xc3/\x01\xf1\xf0\x15\x93A\x8bB\x80|\xc6E[K33\x02\x86i\xdf\x9e\x8b\x9a\x03p\xe3\xe6\xbd\xef%\xb5\xceH\x80@\xbe\x96\x87\x02\xfe\x06/G3\xd5\x97\xb5\xc8+\xa8\x8f\xe0\xb9k\x8bx\xaa\xf9\xedF\x00\xa8H-\\\xda(Y\xc3Q\n\x1c\x9f\xb5\x10\xb3\x7f\x9e\xa7\xd6^\t\xd5+\x1c\xc1\xe1#8<\xa0\x08F\x13W\x1b\x01\x90P\xad5\xce\xcb\xcbV\xe0\x98\xa6\xba\xdc\xdf\xf3\xe8\x9a\xfdH\x8c-\xcf\t\xed\x12\x1c!\xd6\x00\xbd\xc6(\x11"YK;\xff~3\x0b\x1c\x83p\xf7FB\xf4\x0e\x9e\xbb+\x89\xb4lr\x00pb\x7f\xfe\\\xed\xe8\xe1\\\xab5\xa3\x80\xa2v\xf2c?\xa2\x86\xbbWH.=\xb6\xfd\xee\xe3\xb0\xf0(`\xbd;\x84\xef\x01\x94H_cF\x01a\xadG\x1f%Q\xa0\xb4\xb5<[\xbc\x00\xf0)\x08\xbf\xaf\xd53\x1az\xd6\xf5\xbd\xc8\x7f\xad\xd9\x0e\xd5\xcf\x05$=E(\xe1o\x01\x95\x85\x16\xc0\xb9\x1e\xcd\xc1\xc7\xa1\x15\xd30xT\x88v%\xbauD\x8f\x1c\xf9\xd9W\x06\'Tj\x9f\xb9\xfb\x83\xd0\xf4\xafA\x9d\xef1\xf5\xac\x99;\xf3\x00\x1aD\xf4\x01\xaf\x83\xac\x0euh\xf9\xf9@\xce\xc3\x8f\x81\xbc\xbf\xab\xbao3R)\xe5\xf9\x96\x1a\xa4\xab\x1b\xf0@\xeb,#I-\xcb\x9e\xa4\x01`6\xc8F\xd0j\x845>\x1fP\xf1p\xda3\xcf\x07\xa5\x80\xff\x00u\xb6Y5H\x9e yE\t\\\xbf`)o\xe8\xde\xbc\xaa\x97g\xdb\x96bM\xeb6(\xaeEB\x13ES\xf9\xec\xcd\xc2D\xab!\x8e\xce#t\xc1>\xaf\x1a\xf9\x00\x92\'Ksrh\xe9\xde\xbc\xaa\x97\xe7\xda\xd6C\xb8\x17\xc0\x07\x8c\xda\xee\x851;\xcf\x91Eqta\t\x91\x0e\x98\xf9\x00\xe2\x84Dvh\xfax\xd7\x8fo\xff-\xfb[W\x83\\g\xc8\xec\x00\xf3-j\xca\x01\xda\xd7\x90=\x15 \xcf\x1a\x01 \x19\nD*p\xd2\xe9\x8a\x07x\xfe\xdb\x97\x83\xba\xcd\xf09Z8g#9:SP\xd8eD\x01\x0b8\x111\xf6\x0f\x1e\xd9\xf2\xc5>Po\x05\xf1N#\xad\xa3H\xfenZ\xe4\x14\xa5\x84\xeb\xb5\xa6;\x8d,\xa0J+^\x19G\x9a\x00\xc5\x13\x02\x03(\xa0d\xb7-\xdb"s\x93\xcf\xd7j\x04\xed\x87:\xba@J\x0c\xa3\xa6\xf2\xb0\x91\x05\xecI}\xfaU\xc2\xe7q6\x02\x0b\x9c\x97\x9c\x1e\x9dq\xb7F}\xb4f\x05k\xbf\xc0\xd1\x19\xec\xe3\xf9\x9b\xfc\xbd\xcc\xed\x1c1\xee\x07\xd0\xe2c\xc6\x05\x8e2\xdby\xad\x8a\xde\xad\xf1\x11\x86%\x80\x12\x06nFY;"5D*\xc7\xc6v\x82\xec7kn\xaaa\xb7&\x84\xc3\x81ilDP\xf2\xad#3\xfapmWG$\x00:6\xad|\x9d\xc0\x9d&\xf9@a\x92\xc3\x80\x1b4\x88\xd9\xc5L\xd94\xf6\xbboJ\x12-"\xd0\xc8]\xe1\x03\xebW\xfcI\x80ME\xf3\x01\xcf\xde4\xd4Z\x10\xa7\rA\t\x03\xd7\x13\xd3\xe5\xa7R\x7fpo\xc9\xcf\x05\x0elh\xfe\xaeR?K\xf0t`>\xa06\xdcZbx\xa2!(E)\xe11\xc5\xff\x80\xf2u\xa9\x7f\xf6\x9e\t?\x19\xea\xdat\xdb\x93\x00\xaeZ|\xdf\x8e\xf7\x8c[\x15\rT\xce\xb1s\xc6\xcc\xb7\xf0\x85\x92\xc3\x9cZ\x7f@\x82{2\xf7\xae\xce\x9e\x9e\xba\xc0I\x9c\xd4iXd\xe6\x96\xeb\xb5c\x81C\xa8@\x0f\xfev\xe5\xcb\xb2r\xa7\xf5\xa6\x1e\x93\xe3\x99o\xf6\x80\\hX\x9af\x8f\xbb|O\xae\xde\xb9\x11o\xe1(\x1f\x00\xa7\xef\xca\x00\xe0+h (C /\x05&9`N\xe3\xd9}D\xf7I\xdd\xc1U1< \x11\xa54u\xe65\xa0\xd6D*q\x15\xef\x8a\xe9\t\x11\x83\xc6Dii\xac\xeb:Q\xee\xe3\xcd\xe5\x05\xc0\xbc4-\xe6\',\xc0\xfa#\xc8Y\x00\x97x\xc3[y\x8f\x88\x94\x0f\x00X9\x8dN\xac\xc8\x19\x03Y/\xf5\xfb\x8f\x03\x00_\xfc\xd82\x08\x9ev\x07\xf7r\x02P\xbe\x93\xa2\xaa\x03e\x89\xfd\xd0\xdfI}\xe7qG\xdc\xeb\x9e{\x06\xc0\x0b.\x0b\x18\x8c\'\x00HwEzR\x13\x08Jz\xd4\xa7\xa6\x1au1\xa0;\xa6\x16\x80\x0e\xf3|>,\xf3\xc3J\x1e\xfbx\xd2\x91\xb7w\xf1\x87 h\xcc\xdd1\x0f\xc62\x0f\x00\x00\x9el\xfe9\xa8wF\xeb\xe5\xb9\xdf\xe7\x8c!\x80; 2+s\xe6\x07\xd3\xec~\xdd6\xa9\xef\xba7\xa6N\x10\xc04\xdc\x8bQ}?\xa8K\xa258\x0b\x1c{\r -y\xcb\x7f\xc6\xf9\xaa\xb6\xd8f\x829\x8a\xa6\x12\xe8;\xb6\x16b\xad\x07uz\x91^\xbd\xc9\x96\x97\x00\xb9\x0f\xf5\xcfn\x17)\xf7A\xd9I\xfc\xaf1\x9e\xbc\xf92\x8c\x8e\xac\x06\xf8U\xc0>p\x91\xaf\xfd\xf0\xd1\x0b\xe1/\x91\xc6c\xb2\xb0\xeb|\xeck\x81P0^\xfe\xd4,h\xba\x0e`\x1d\xa0\x0b2\xbfQ\x07"\t\xe0"\x04\xafA\xd1\x0f\xf0y\x08\x0e\xa1R\x0e\xc9\xfc\xe7\xce`jL\x8d\xa915&y\xfc\x17\xe4\xcc\xfc\xa7\x9c\xd5n\x7f\x00\x00\x00\x00IEND\xaeB`\x82'

In [61]:
#JSON string
import json
person={
    'name':'Ram',
    'age':22,
    'address':'KTM',
    'skill':['Python','Django','Machine Learning'],
    'is_programmer':True ,
    'Phone':None
}
x=json.dumps(person)
print(x,type(x))

{"name": "Ram", "age": 22, "address": "KTM", "skill": ["Python", "Django", "Machine Learning"], "is_programmer": true, "Phone": null} <class 'str'>

In [63]:
import string
json_string="""
{
"name": "Ram",
"age": 22, 
"address": "KTM", 
"skill": ["Python", "Django", "Machine Learning"],
"is_programmer": true, 
"Phone": null
}
"""
x=json.loads(json_string)
print(x,type(x))

{'name': 'Ram', 'age': 22, 'address': 'KTM', 'skill': ['Python', 'Django', 'Machine Learning'], 'is_programmer': True, 'Phone': None} <class 'dict'>

In [64]:
import json
person={
    'name':'Ram',
    'age':22,
    'address':'KTM',
    'skill':['Python','Django','Machine Learning'],
    'is_programmer':True ,
    'Phone':None
}
with open('person.json','w')as f:
    json.dump(person,f)

In [65]:
import json
person={
    'name':'Ram',
    'age':22,
    'address':'KTM',
    'skill':['Python','Django','Machine Learning'],
    'is_programmer':True ,
    'Phone':None
}
with open('person.json','r')as f:
    data=f.read()
    person=json.loads(data)
    print(person,type(person))

{'name': 'Ram', 'age': 22, 'address': 'KTM', 'skill': ['Python', 'Django', 'Machine Learning'], 'is_programmer': True, 'Phone': None} <class 'dict'>

In [3]:
import json

with open('person.json', 'r') as f:
    data = f.read()
    x = json.loads(data)  # Change f to data here
    print(x, type(x))

{'name': 'Ram', 'age': 22, 'address': 'KTM', 'skill': ['Python', 'Django', 'Machine Learning'], 'is_programmer': True, 'Phone': None} <class 'dict'>

In [10]:
with open('sample_users.csv','r') as f:
     print(f.read())

first_name,last_name,company_name,address,city,county,state,zip,phone1,phone2,email,web
James,Butt,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,Orleans,LA,70116,504-621-8927,504-845-1427,jbutt@gmail.com,http://www.bentonjohnbjr.com
Josephine,Darakjy,"Chanay, Jeffrey A Esq",4 B Blue Ridge Blvd,Brighton,Livingston,MI,48116,810-292-9388,810-374-9840,josephine_darakjy@darakjy.org,http://www.chanayjeffreyaesq.com
Art,Venere,"Chemel, James L Cpa",8 W Cerritos Ave #54,Bridgeport,Gloucester,NJ,8014,856-636-8749,856-264-4130,art@venere.org,http://www.chemeljameslcpa.com
Lenna,Paprocki,Feltz Printing Service,639 Main St,Anchorage,Anchorage,AK,99501,907-385-4412,907-921-2010,lpaprocki@hotmail.com,http://www.feltzprintingservice.com
Donette,Foller,Printing Dimensions,34 Center St,Hamilton,Butler,OH,45011,513-570-1893,513-549-4561,donette.foller@cox.net,http://www.printingdimensions.com
Simona,Morasca,"Chapman, Ross E Esq",3 Mcauley Dr,Ashland,Ashland,OH,44805,419-503-2484,419-800-6759,simona@morasca.com,http://www.chapmanrosseesq.com
Mitsue,Tollner,Morlong Associates,7 Eads St,Chicago,Cook,IL,60632,773-573-6914,773-924-8565,mitsue_tollner@yahoo.com,http://www.morlongassociates.com
Leota,Dilliard,Commercial Press,7 W Jackson Blvd,San Jose,Santa Clara,CA,95111,408-752-3500,408-813-1105,leota@hotmail.com,http://www.commercialpress.com
Sage,Wieser,Truhlar And Truhlar Attys,5 Boston Ave #88,Sioux Falls,Minnehaha,SD,57105,605-414-2147,605-794-4895,sage_wieser@cox.net,http://www.truhlarandtruhlarattys.com
Kris,Marrier,"King, Christopher A Esq",228 Runamuck Pl #2808,Baltimore,Baltimore City,MD,21224,410-655-8723,410-804-4694,kris@gmail.com,http://www.kingchristopheraesq.com
Minna,Amigon,"Dorl, James J Esq",2371 Jerrold Ave,Kulpsville,Montgomery,PA,19443,215-874-1229,215-422-8694,minna_amigon@yahoo.com,http://www.dorljamesjesq.com
Abel,Maclead,Rangoni Of Florence,37275 St  Rt 17m M,Middle Island,Suffolk,NY,11953,631-335-3414,631-677-3675,amaclead@gmail.com,http://www.rangoniofflorence.com
Kiley,Caldarera,Feiner Bros,25 E 75th St #69,Los Angeles,Los Angeles,CA,90034,310-498-5651,310-254-3084,kiley.caldarera@aol.com,http://www.feinerbros.com
Graciela,Ruta,Buckley Miller & Wright,98 Connecticut Ave Nw,Chagrin Falls,Geauga,OH,44023,440-780-8425,440-579-7763,gruta@cox.net,http://www.buckleymillerwright.com
Cammy,Albares,"Rousseaux, Michael Esq",56 E Morehead St,Laredo,Webb,TX,78045,956-537-6195,956-841-7216,calbares@gmail.com,http://www.rousseauxmichaelesq.com
Mattie,Poquette,Century Communications,73 State Road 434 E,Phoenix,Maricopa,AZ,85013,602-277-4385,602-953-6360,mattie@aol.com,http://www.centurycommunications.com
Meaghan,Garufi,"Bolton, Wilbur Esq",69734 E Carrillo St,Mc Minnville,Warren,TN,37110,931-313-9635,931-235-7959,meaghan@hotmail.com,http://www.boltonwilburesq.com
Gladys,Rim,T M Byxbee Company Pc,322 New Horizon Blvd,Milwaukee,Milwaukee,WI,53207,414-661-9598,414-377-2880,gladys.rim@rim.org,http://www.tmbyxbeecompanypc.com
Yuki,Whobrey,Farmers Insurance Group,1 State Route 27,Taylor,Wayne,MI,48180,313-288-7937,313-341-4470,yuki_whobrey@aol.com,http://www.farmersinsurancegroup.com
Fletcher,Flosi,Post Box Services Plus,394 Manchester Blvd,Rockford,Winnebago,IL,61109,815-828-2147,815-426-5657,fletcher.flosi@yahoo.com,http://www.postboxservicesplus.com
Bette,Nicka,Sport En Art,6 S 33rd St,Aston,Delaware,PA,19014,610-545-3615,610-492-4643,bette_nicka@cox.net,http://www.sportenart.com
Veronika,Inouye,C 4 Network Inc,6 Greenleaf Ave,San Jose,Santa Clara,CA,95111,408-540-1785,408-813-4592,vinouye@aol.com,http://www.cnetworkinc.com
Willard,Kolmetz,"Ingalls, Donald R Esq",618 W Yakima Ave,Irving,Dallas,TX,75062,972-303-9197,972-896-4882,willard@hotmail.com,http://www.ingallsdonaldresq.com
Maryann,Royster,"Franklin, Peter L Esq",74 S Westgate St,Albany,Albany,NY,12204,518-966-7987,518-448-8982,mroyster@royster.com,http://www.franklinpeterlesq.com
Alisha,Slusarski,Wtlz Power 107 Fm,3273 State St,Middlesex,Middlesex,NJ,8846,732-658-3154,732-635-3453,alisha@slusarski.com,http://www.wtlzpowerfm.com
Allene,Iturbide,"Ledecky, David Esq",1 Central Ave,Stevens Point,Portage,WI,54481,715-662-6764,715-530-9863,allene_iturbide@cox.net,http://www.ledeckydavidesq.com
Chanel,Caudy,Professional Image Inc,86 Nw 66th St #8673,Shawnee,Johnson,KS,66218,913-388-2079,913-899-1103,chanel.caudy@caudy.org,http://www.professionalimageinc.com
Ezekiel,Chui,"Sider, Donald C Esq",2 Cedar Ave #84,Easton,Talbot,MD,21601,410-669-1642,410-235-8738,ezekiel@chui.com,http://www.siderdonaldcesq.com
Willow,Kusko,U Pull It,90991 Thorburn Ave,New York,New York,NY,10011,212-582-4976,212-934-5167,wkusko@yahoo.com,http://www.upullit.com
Bernardo,Figeroa,"Clark, Richard Cpa",386 9th Ave N,Conroe,Montgomery,TX,77301,936-336-3951,936-597-3614,bfigeroa@aol.com,http://www.clarkrichardcpa.com
Ammie,Corrio,"Moskowitz, Barry S",74874 Atlantic Ave,Columbus,Franklin,OH,43215,614-801-9788,614-648-3265,ammie@corrio.com,http://www.moskowitzbarrys.com
Francine,Vocelka,Cascade Realty Advisors Inc,366 South Dr,Las Cruces,Dona Ana,NM,88011,505-977-3911,505-335-5293,francine_vocelka@vocelka.com,http://www.cascaderealtyadvisorsinc.com
Ernie,Stenseth,Knwz Newsradio,45 E Liberty St,Ridgefield Park,Bergen,NJ,7660,201-709-6245,201-387-9093,ernie_stenseth@aol.com,http://www.knwznewsradio.com
Albina,Glick,"Giampetro, Anthony D",4 Ralph Ct,Dunellen,Middlesex,NJ,8812,732-924-7882,732-782-6701,albina@glick.com,http://www.giampetroanthonyd.com
Alishia,Sergi,Milford Enterprises Inc,2742 Distribution Way,New York,New York,NY,10025,212-860-1579,212-753-2740,asergi@gmail.com,http://www.milfordenterprisesinc.com
Solange,Shinko,"Mosocco, Ronald A",426 Wolf St,Metairie,Jefferson,LA,70002,504-979-9175,504-265-8174,solange@shinko.com,http://www.mosoccoronalda.com
Jose,Stockham,Tri State Refueler Co,128 Bransten Rd,New York,New York,NY,10011,212-675-8570,212-569-4233,jose@yahoo.com,http://www.tristaterefuelerco.com
Rozella,Ostrosky,Parkway Company,17 Morena Blvd,Camarillo,Ventura,CA,93012,805-832-6163,805-609-1531,rozella.ostrosky@ostrosky.com,http://www.parkwaycompany.com
Valentine,Gillian,Fbs Business Finance,775 W 17th St,San Antonio,Bexar,TX,78204,210-812-9597,210-300-6244,valentine_gillian@gmail.com,http://www.fbsbusinessfinance.com
Kati,Rulapaugh,Eder Assocs Consltng Engrs Pc,6980 Dorsett Rd,Abilene,Dickinson,KS,67410,785-463-7829,785-219-7724,kati.rulapaugh@hotmail.com,http://www.ederassocsconsltngengrspc.com
Youlanda,Schemmer,Tri M Tool Inc,2881 Lewis Rd,Prineville,Crook,OR,97754,541-548-8197,541-993-2611,youlanda@aol.com,http://www.trimtoolinc.com
Dyan,Oldroyd,International Eyelets Inc,7219 Woodfield Rd,Overland Park,Johnson,KS,66204,913-413-4604,913-645-8918,doldroyd@aol.com,http://www.internationaleyeletsinc.com
Roxane,Campain,Rapid Trading Intl,1048 Main St,Fairbanks,Fairbanks North Star,AK,99708,907-231-4722,907-335-6568,roxane@hotmail.com,http://www.rapidtradingintl.com
Lavera,Perin,Abc Enterprises Inc,678 3rd Ave,Miami,Miami-Dade,FL,33196,305-606-7291,305-995-2078,lperin@perin.org,http://www.abcenterprisesinc.com
Erick,Ferencz,Cindy Turner Associates,20 S Babcock St,Fairbanks,Fairbanks North Star,AK,99712,907-741-1044,907-227-6777,erick.ferencz@aol.com,http://www.cindyturnerassociates.com
Fatima,Saylors,"Stanton, James D Esq",2 Lighthouse Ave,Hopkins,Hennepin,MN,55343,952-768-2416,952-479-2375,fsaylors@saylors.org,http://www.stantonjamesdesq.com
Jina,Briddick,Grace Pastries Inc,38938 Park Blvd,Boston,Suffolk,MA,2128,617-399-5124,617-997-5771,jina_briddick@briddick.com,http://www.gracepastriesinc.com
Kanisha,Waycott,"Schroer, Gene E Esq",5 Tomahawk Dr,Los Angeles,Los Angeles,CA,90006,323-453-2780,323-315-7314,kanisha_waycott@yahoo.com,http://www.schroergeneeesq.com
Emerson,Bowley,Knights Inn,762 S Main St,Madison,Dane,WI,53711,608-336-7444,608-658-7940,emerson.bowley@bowley.org,http://www.knightsinn.com
Blair,Malet,Bollinger Mach Shp & Shipyard,209 Decker Dr,Philadelphia,Philadelphia,PA,19132,215-907-9111,215-794-4519,bmalet@yahoo.com,http://www.bollingermachshpshipyard.com
Brock,Bolognia,Orinda News,4486 W O St #1,New York,New York,NY,10003,212-402-9216,212-617-5063,bbolognia@yahoo.com,http://www.orindanews.com
Lorrie,Nestle,Ballard Spahr Andrews,39 S 7th St,Tullahoma,Coffee,TN,37388,931-875-6644,931-303-6041,lnestle@hotmail.com,http://www.ballardspahrandrews.com
Sabra,Uyetake,Lowy Limousine Service,98839 Hawthorne Blvd #6101,Columbia,Richland,SC,29201,803-925-5213,803-681-3678,sabra@uyetake.org,http://www.lowylimousineservice.com
Marjory,Mastella,Vicon Corporation,71 San Mateo Ave,Wayne,Delaware,PA,19087,610-814-5533,610-379-7125,mmastella@mastella.com,http://www.viconcorporation.com
Karl,Klonowski,"Rossi, Michael M",76 Brooks St #9,Flemington,Hunterdon,NJ,8822,908-877-6135,908-470-4661,karl_klonowski@yahoo.com,http://www.rossimichaelm.com
Tonette,Wenner,Northwest Publishing,4545 Courthouse Rd,Westbury,Nassau,NY,11590,516-968-6051,516-333-4861,twenner@aol.com,http://www.northwestpublishing.com
Amber,Monarrez,Branford Wire & Mfg Co,14288 Foster Ave #4121,Jenkintown,Montgomery,PA,19046,215-934-8655,215-329-6386,amber_monarrez@monarrez.org,http://www.branfordwiremfgco.com
Shenika,Seewald,East Coast Marketing,4 Otis St,Van Nuys,Los Angeles,CA,91405,818-423-4007,818-749-8650,shenika@gmail.com,http://www.eastcoastmarketing.com
Delmy,Ahle,Wye Technologies Inc,65895 S 16th St,Providence,Providence,RI,2909,401-458-2547,401-559-8961,delmy.ahle@hotmail.com,http://www.wyetechnologiesinc.com
Deeanna,Juhas,"Healy, George W Iv",14302 Pennsylvania Ave,Huntingdon Valley,Montgomery,PA,19006,215-211-9589,215-417-9563,deeanna_juhas@gmail.com,http://www.healygeorgewiv.com
Blondell,Pugh,Alpenlite Inc,201 Hawk Ct,Providence,Providence,RI,2904,401-960-8259,401-300-8122,bpugh@aol.com,http://www.alpenliteinc.com
Jamal,Vanausdal,"Hubbard, Bruce Esq",53075 Sw 152nd Ter #615,Monroe Township,Middlesex,NJ,8831,732-234-1546,732-904-2931,jamal@vanausdal.org,http://www.hubbardbruceesq.com
Cecily,Hollack,Arthur A Oliver & Son Inc,59 N Groesbeck Hwy,Austin,Travis,TX,78731,512-486-3817,512-861-3814,cecily@hollack.org,http://www.arthuraoliversoninc.com
Carmelina,Lindall,George Jessop Carter Jewelers,2664 Lewis Rd,Littleton,Douglas,CO,80126,303-724-7371,303-874-5160,carmelina_lindall@lindall.com,http://www.georgejessopcarterjewelers.com
Maurine,Yglesias,"Schultz, Thomas C Md",59 Shady Ln #53,Milwaukee,Milwaukee,WI,53214,414-748-1374,414-573-7719,maurine_yglesias@yglesias.com,http://www.schultzthomascmd.com
Tawna,Buvens,H H H Enterprises Inc,3305 Nabell Ave #679,New York,New York,NY,10009,212-674-9610,212-462-9157,tawna@gmail.com,http://www.hhhenterprisesinc.com
Penney,Weight,Hawaiian King Hotel,18 Fountain St,Anchorage,Anchorage,AK,99515,907-797-9628,907-873-2882,penney_weight@aol.com,http://www.hawaiiankinghotel.com
Elly,Morocco,Killion Industries,7 W 32nd St,Erie,Erie,PA,16502,814-393-5571,814-420-3553,elly_morocco@gmail.com,http://www.killionindustries.com
Ilene,Eroman,"Robinson, William J Esq",2853 S Central Expy,Glen Burnie,Anne Arundel,MD,21061,410-914-9018,410-937-4543,ilene.eroman@hotmail.com,http://www.robinsonwilliamjesq.com
Vallie,Mondella,Private Properties,74 W College St,Boise,Ada,ID,83707,208-862-5339,208-737-8439,vmondella@mondella.com,http://www.privateproperties.com
Kallie,Blackwood,Rowley Schlimgen Inc,701 S Harrison Rd,San Francisco,San Francisco,CA,94104,415-315-2761,415-604-7609,kallie.blackwood@gmail.com,http://www.rowleyschlimgeninc.com
Johnetta,Abdallah,Forging Specialties,1088 Pinehurst St,Chapel Hill,Orange,NC,27514,919-225-9345,919-715-3791,johnetta_abdallah@aol.com,http://www.forgingspecialties.com
Bobbye,Rhym,"Smits, Patricia Garity",30 W 80th St #1995,San Carlos,San Mateo,CA,94070,650-528-5783,650-811-9032,brhym@rhym.com,http://www.smitspatriciagarity.com
Micaela,Rhymes,H Lee Leonard Attorney At Law,20932 Hedley St,Concord,Contra Costa,CA,94520,925-647-3298,925-522-7798,micaela_rhymes@gmail.com,http://www.hleeleonardattorneyatlaw.com
Tamar,Hoogland,A K Construction Co,2737 Pistorio Rd #9230,London,Madison,OH,43140,740-343-8575,740-526-5410,tamar@hotmail.com,http://www.akconstructionco.com
Moon,Parlato,"Ambelang, Jessica M Md",74989 Brandon St,Wellsville,Allegany,NY,14895,585-866-8313,585-498-4278,moon@yahoo.com,http://www.ambelangjessicammd.com
Laurel,Reitler,Q A Service,6 Kains Ave,Baltimore,Baltimore City,MD,21215,410-520-4832,410-957-6903,laurel_reitler@reitler.com,http://www.qaservice.com
Delisa,Crupi,Wood & Whitacre Contractors,47565 W Grand Ave,Newark,Essex,NJ,7105,973-354-2040,973-847-9611,delisa.crupi@crupi.com,http://www.woodwhitacrecontractors.com
Viva,Toelkes,Mark Iv Press Ltd,4284 Dorigo Ln,Chicago,Cook,IL,60647,773-446-5569,773-352-3437,viva.toelkes@gmail.com,http://www.markivpressltd.com
Elza,Lipke,Museum Of Science & Industry,6794 Lake Dr E,Newark,Essex,NJ,7104,973-927-3447,973-796-3667,elza@yahoo.com,http://www.museumofscienceindustry.com
Devorah,Chickering,Garrison Ind,31 Douglas Blvd #950,Clovis,Curry,NM,88101,505-975-8559,505-950-1763,devorah@hotmail.com,http://www.garrisonind.com
Timothy,Mulqueen,Saronix Nymph Products,44 W 4th St,Staten Island,Richmond,NY,10309,718-332-6527,718-654-7063,timothy_mulqueen@mulqueen.org,http://www.saronixnymphproducts.com
Arlette,Honeywell,Smc Inc,11279 Loytan St,Jacksonville,Duval,FL,32254,904-775-4480,904-514-9918,ahoneywell@honeywell.com,http://www.smcinc.com
Dominque,Dickerson,E A I Electronic Assocs Inc,69 Marquette Ave,Hayward,Alameda,CA,94545,510-993-3758,510-901-7640,dominque.dickerson@dickerson.org,http://www.eaielectronicassocsinc.com
Lettie,Isenhower,"Conte, Christopher A Esq",70 W Main St,Beachwood,Cuyahoga,OH,44122,216-657-7668,216-733-8494,lettie_isenhower@yahoo.com,http://www.contechristopheraesq.com
Myra,Munns,Anker Law Office,461 Prospect Pl #316,Euless,Tarrant,TX,76040,817-914-7518,817-451-3518,mmunns@cox.net,http://www.ankerlawoffice.com
Stephaine,Barfield,Beutelschies & Company,47154 Whipple Ave Nw,Gardena,Los Angeles,CA,90247,310-774-7643,310-968-1219,stephaine@barfield.com,http://www.beutelschiescompany.com
Lai,Gato,"Fligg, Kenneth I Jr",37 Alabama Ave,Evanston,Cook,IL,60201,847-728-7286,847-957-4614,lai.gato@gato.org,http://www.fliggkennethijr.com
Stephen,Emigh,"Sharp, J Daniel Esq",3777 E Richmond St #900,Akron,Summit,OH,44302,330-537-5358,330-700-2312,stephen_emigh@hotmail.com,http://www.sharpjdanielesq.com
Tyra,Shields,"Assink, Anne H Esq",3 Fort Worth Ave,Philadelphia,Philadelphia,PA,19106,215-255-1641,215-228-8264,tshields@gmail.com,http://www.assinkannehesq.com
Tammara,Wardrip,Jewel My Shop Inc,4800 Black Horse Pike,Burlingame,San Mateo,CA,94010,650-803-1936,650-216-5075,twardrip@cox.net,http://www.jewelmyshopinc.com
Cory,Gibes,Chinese Translation Resources,83649 W Belmont Ave,San Gabriel,Los Angeles,CA,91776,626-572-1096,626-696-2777,cory.gibes@gmail.com,http://www.chinesetranslationresources.com
Danica,Bruschke,"Stevens, Charles T",840 15th Ave,Waco,McLennan,TX,76708,254-782-8569,254-205-1422,danica_bruschke@gmail.com,http://www.stevenscharlest.com
Wilda,Giguere,"Mclaughlin, Luther W Cpa",1747 Calle Amanecer #2,Anchorage,Anchorage,AK,99501,907-870-5536,907-914-9482,wilda@cox.net,http://www.mclaughlinlutherwcpa.com
Elvera,Benimadho,Tree Musketeers,99385 Charity St #840,San Jose,Santa Clara,CA,95110,408-703-8505,408-440-8447,elvera.benimadho@cox.net,http://www.treemusketeers.com
Carma,Vanheusen,Springfield Div Oh Edison Co,68556 Central Hwy,San Leandro,Alameda,CA,94577,510-503-7169,510-452-4835,carma@cox.net,http://www.springfielddivohedisonco.com
Malinda,Hochard,Logan Memorial Hospital,55 Riverside Ave,Indianapolis,Marion,IN,46202,317-722-5066,317-472-2412,malinda.hochard@yahoo.com,http://www.loganmemorialhospital.com
Natalie,Fern,"Kelly, Charles G Esq",7140 University Ave,Rock Springs,Sweetwater,WY,82901,307-704-8713,307-279-3793,natalie.fern@hotmail.com,http://www.kellycharlesgesq.com
Lisha,Centini,Industrial Paper Shredders Inc,64 5th Ave #1153,Mc Lean,Fairfax,VA,22102,703-235-3937,703-475-7568,lisha@centini.org,http://www.industrialpapershreddersinc.com
Arlene,Klusman,Beck Horizon Builders,3 Secor Rd,New Orleans,Orleans,LA,70112,504-710-5840,504-946-1807,arlene_klusman@gmail.com,http://www.beckhorizonbuilders.com
Alease,Buemi,Porto Cayo At Hawks Cay,4 Webbs Chapel Rd,Boulder,Boulder,CO,80303,303-301-4946,303-521-9860,alease@buemi.com,http://www.portocayoathawkscay.com
Louisa,Cronauer,Pacific Grove Museum Ntrl Hist,524 Louisiana Ave Nw,San Leandro,Alameda,CA,94577,510-828-7047,510-472-7758,louisa@cronauer.com,http://www.pacificgrovemuseumntrlhist.com
Angella,Cetta,Bender & Hatley Pc,185 Blackstone Bldge,Honolulu,Honolulu,HI,96817,808-892-7943,808-475-2310,angella.cetta@hotmail.com,http://www.benderhatleypc.com
Cyndy,Goldammer,Di Cristina J & Son,170 Wyoming Ave,Burnsville,Dakota,MN,55337,952-334-9408,952-938-9457,cgoldammer@cox.net,http://www.dicristinajson.com
Rosio,Cork,Green Goddess,4 10th St W,High Point,Guilford,NC,27263,336-243-5659,336-497-4407,rosio.cork@gmail.com,http://www.greengoddess.com
Celeste,Korando,American Arts & Graphics,7 W Pinhook Rd,Lynbrook,Nassau,NY,11563,516-509-2347,516-365-7266,ckorando@hotmail.com,http://www.americanartsgraphics.com
Twana,Felger,Opryland Hotel,1 Commerce Way,Portland,Washington,OR,97224,503-939-3153,503-909-7167,twana.felger@felger.org,http://www.oprylandhotel.com
Estrella,Samu,Marking Devices Pubg Co,64 Lakeview Ave,Beloit,Rock,WI,53511,608-976-7199,608-942-8836,estrella@aol.com,http://www.markingdevicespubgco.com
Donte,Kines,W Tc Industries Inc,3 Aspen St,Worcester,Worcester,MA,1602,508-429-8576,508-843-1426,dkines@hotmail.com,http://www.wtcindustriesinc.com
Tiffiny,Steffensmeier,Whitehall Robbins Labs Divsn,32860 Sierra Rd,Miami,Miami-Dade,FL,33133,305-385-9695,305-304-6573,tiffiny_steffensmeier@cox.net,http://www.whitehallrobbinslabsdivsn.com
Edna,Miceli,Sampler,555 Main St,Erie,Erie,PA,16502,814-460-2655,814-299-2877,emiceli@miceli.org,http://www.sampler.com
Sue,Kownacki,Juno Chefs Incorporated,2 Se 3rd Ave,Mesquite,Dallas,TX,75149,972-666-3413,972-742-4000,sue@aol.com,http://www.junochefsincorporated.com
Jesusa,Shin,"Carroccio, A Thomas Esq",2239 Shawnee Mission Pky,Tullahoma,Coffee,TN,37388,931-273-8709,931-739-1551,jshin@shin.com,http://www.carroccioathomasesq.com
Rolland,Francescon,"Stanley, Richard L Esq",2726 Charcot Ave,Paterson,Passaic,NJ,7501,973-649-2922,973-284-4048,rolland@cox.net,http://www.stanleyrichardlesq.com
Pamella,Schmierer,K Cs Cstm Mouldings Windows,5161 Dorsett Rd,Homestead,Miami-Dade,FL,33030,305-420-8970,305-575-8481,pamella.schmierer@schmierer.org,http://www.kcscstmmouldingswindows.com
Glory,Kulzer,Comfort Inn,55892 Jacksonville Rd,Owings Mills,Baltimore,MD,21117,410-224-9462,410-916-8015,gkulzer@kulzer.org,http://www.comfortinn.com
Shawna,Palaspas,"Windsor, James L Esq",5 N Cleveland Massillon Rd,Thousand Oaks,Ventura,CA,91362,805-275-3566,805-638-6617,shawna_palaspas@palaspas.org,http://www.windsorjameslesq.com
Brandon,Callaro,Jackson Shields Yeiser,7 Benton Dr,Honolulu,Honolulu,HI,96819,808-215-6832,808-240-5168,brandon_callaro@hotmail.com,http://www.jacksonshieldsyeiser.com
Scarlet,Cartan,"Box, J Calvin Esq",9390 S Howell Ave,Albany,Dougherty,GA,31701,229-735-3378,229-365-9658,scarlet.cartan@yahoo.com,http://www.boxjcalvinesq.com
Oretha,Menter,Custom Engineering Inc,8 County Center Dr #647,Boston,Suffolk,MA,2210,617-418-5043,617-697-6024,oretha_menter@yahoo.com,http://www.customengineeringinc.com
Ty,Smith,Bresler Eitel Framg Gllry Ltd,4646 Kaahumanu St,Hackensack,Bergen,NJ,7601,201-672-1553,201-995-3149,tsmith@aol.com,http://www.breslereitelframggllryltd.com
Xuan,Rochin,"Carol, Drake Sparks Esq",2 Monroe St,San Mateo,San Mateo,CA,94403,650-933-5072,650-247-2625,xuan@gmail.com,http://www.caroldrakesparksesq.com
Lindsey,Dilello,Biltmore Investors Bank,52777 Leaders Heights Rd,Ontario,San Bernardino,CA,91761,909-639-9887,909-589-1693,lindsey.dilello@hotmail.com,http://www.biltmoreinvestorsbank.com

In [12]:
import csv
with open('sample_users.csv','r') as f:
    data=csv.reader(f)
    for i in data:
        print(i[0])

first_name
James
Josephine
Art
Lenna
Donette
Simona
Mitsue
Leota
Sage
Kris
Minna
Abel
Kiley
Graciela
Cammy
Mattie
Meaghan
Gladys
Yuki
Fletcher
Bette
Veronika
Willard
Maryann
Alisha
Allene
Chanel
Ezekiel
Willow
Bernardo
Ammie
Francine
Ernie
Albina
Alishia
Solange
Jose
Rozella
Valentine
Kati
Youlanda
Dyan
Roxane
Lavera
Erick
Fatima
Jina
Kanisha
Emerson
Blair
Brock
Lorrie
Sabra
Marjory
Karl
Tonette
Amber
Shenika
Delmy
Deeanna
Blondell
Jamal
Cecily
Carmelina
Maurine
Tawna
Penney
Elly
Ilene
Vallie
Kallie
Johnetta
Bobbye
Micaela
Tamar
Moon
Laurel
Delisa
Viva
Elza
Devorah
Timothy
Arlette
Dominque
Lettie
Myra
Stephaine
Lai
Stephen
Tyra
Tammara
Cory
Danica
Wilda
Elvera
Carma
Malinda
Natalie
Lisha
Arlene
Alease
Louisa
Angella
Cyndy
Rosio
Celeste
Twana
Estrella
Donte
Tiffiny
Edna
Sue
Jesusa
Rolland
Pamella
Glory
Shawna
Brandon
Scarlet
Oretha
Ty
Xuan
Lindsey
Devora
Herman
Rory
Talia
Van
Lucina
Bok
Rolande
Howard
Kimbery
Thurman
Becky
Beatriz
Marti
Nieves
Leatha
Valentin
Melissa
Sheridan
Bulah
Audra
Daren
Fernanda
Gearldine
Chau
Theola
Cheryl
Laticia
Carissa
Lezlie
Ozell
Arminda
Reita
Yolando
Lizette
Gregoria
Carin
Chantell
Dierdre
Larae
Latrice
Kerry
Dorthy
Fannie
Evangelina
Novella
Clay
Jennifer
Irma
Eun
Sylvia
Nana
Layla
Joesph
Annabelle
Stephaine
Nelida
Marguerita
Carmela
Junita
Claribel
Benton
Hillary
Merilyn
Teri
Merlyn
Georgene
Jettie
Lemuel
Melodie
Candida
Karan
Andra
Felicidad
Belen
Gracia
Jolanda
Barrett
Helga
Ashlyn
Fausto
Ronny
Marge
Norah
Aliza
Mozell
Viola
Franklyn
Willodean
Beckie
Rebecka
Frederica
Glen
Freeman
Vincent
Rima
Glendora
Avery
Cristy
Nicolette
Tracey
Virgina
Tiera
Alaine
Earleen
Leonida
Ressie
Justine
Eladia
Chaya
Gwenn
Salena
Yoko
Taryn
Katina
Rickie
Alex
Lashon
Lauran
Ceola
My
Lorrine
Peggie
Marvel
Daron
An
Portia
Rhea
Benedict
Alyce
Heike
Carey
Dottie
Deandrea
Kimberlie
Martina
Skye
Jade
Charlene
Geoffrey
Stevie
Pamella
Harrison
Johnna
Buddy
Dalene
Jerry
Haydee
Joseph
Deonna
Raymon
Alecia
Ma
Detra
Terrilyn
Salome
Garry
Matthew
Theodora
Noah
Carmen
Lavonda
Junita
Herminia
Casie
Reena
Mirta
Cathrine
Filiberto
Raul
Sarah
Lucy
Judy
Yvonne
Kayleigh
Felix
Tresa
Kristeen
Jenelle
Renea
Olive
Ligia
Christiane
Goldie
Loreta
Fabiola
Amie
Raina
Erinn
Cherry
Kattie
Lilli
Whitley
Barbra
Hermila
Jesusita
Caitlin
Roosevelt
Helaine
Lorean
France
Justine
Adelina
Derick
Jerry
Leota
Jutta
Aja
Kirk
Leonora
Winfred
Tarra
Corinne
Dulce
Kate
Kaitlyn
Sherita
Lashawnda
Ernest
Nobuko
Lavonna
Lashaunda
Mariann
Helene
Roselle
Samira
Margart
Kristofer
Weldon
Shalon
Denise
Louvenia
Audry
Kristel
Vincenza
Elouise
Venita
Kasandra
Xochitl
Maile
Krissy
Pete
Linn
Paris
Wynell
Quentin
Regenia
Sheron
Izetta
Rodolfo
Zona
Serina
Paz
Markus
Jaclyn
Cyril
Gayla
Erick
Jennie
Mitsue
Ciara
Galen
Truman
Gail
Dalene
Gertude
Lizbeth
Glenn
Lashandra
Lenna
Laurel
Mireya
Annelle
Dean
Levi
Sylvie
Sharee
Cordelia
Mollie
Brett
Teddy
Tasia
Hubert
Arthur
Vilma
Billye
Glenna
Mitzie
Bernardine
Staci
Nichelle
Janine
Ettie
Eden
Lynelle
Merissa
Golda
Catarina
Virgie
Jolene
Keneth
Rikki
Elke
Hoa
Trinidad
Mari
Selma
Antione
Luisa
Clorinda
Dick
Ahmed
Iluminada
Joanna
Caprice
Stephane
Quentin
Annmarie
Shonda
Cecil
Jeanice
Josphine
Daniel
Cassi
Britt
Adell
Jacqueline
Lonny
Lonna
Cristal
Kenneth
Elli
Alline
Sharika
Nu
Daniela
Cecilia
Leslie
Nan
Izetta
Tegan
Ruthann
Joni
Vi
Colette
Malcolm
Ryan
Jess
Sharen
Nickolas
Gary
Diane
Roslyn
Glory
Rasheeda
Alpha
Refugia
Shawnda
Mona
Gilma
Janey
Lili
Loren
Dorothy
Gail
Catalina
Lawrence
Carlee
Thaddeus
Jovita
Alesia
Lai
Brittni
Raylene
Flo
Jani
Chauncey

In [13]:
import csv
with open('sample_users.csv','r') as f:
    data=csv.reader(f)
    for i in data:
        print(i[3])

address
6649 N Blue Gum St
4 B Blue Ridge Blvd
8 W Cerritos Ave #54
639 Main St
34 Center St
3 Mcauley Dr
7 Eads St
7 W Jackson Blvd
5 Boston Ave #88
228 Runamuck Pl #2808
2371 Jerrold Ave
37275 St  Rt 17m M
25 E 75th St #69
98 Connecticut Ave Nw
56 E Morehead St
73 State Road 434 E
69734 E Carrillo St
322 New Horizon Blvd
1 State Route 27
394 Manchester Blvd
6 S 33rd St
6 Greenleaf Ave
618 W Yakima Ave
74 S Westgate St
3273 State St
1 Central Ave
86 Nw 66th St #8673
2 Cedar Ave #84
90991 Thorburn Ave
386 9th Ave N
74874 Atlantic Ave
366 South Dr
45 E Liberty St
4 Ralph Ct
2742 Distribution Way
426 Wolf St
128 Bransten Rd
17 Morena Blvd
775 W 17th St
6980 Dorsett Rd
2881 Lewis Rd
7219 Woodfield Rd
1048 Main St
678 3rd Ave
20 S Babcock St
2 Lighthouse Ave
38938 Park Blvd
5 Tomahawk Dr
762 S Main St
209 Decker Dr
4486 W O St #1
39 S 7th St
98839 Hawthorne Blvd #6101
71 San Mateo Ave
76 Brooks St #9
4545 Courthouse Rd
14288 Foster Ave #4121
4 Otis St
65895 S 16th St
14302 Pennsylvania Ave
201 Hawk Ct
53075 Sw 152nd Ter #615
59 N Groesbeck Hwy
2664 Lewis Rd
59 Shady Ln #53
3305 Nabell Ave #679
18 Fountain St
7 W 32nd St
2853 S Central Expy
74 W College St
701 S Harrison Rd
1088 Pinehurst St
30 W 80th St #1995
20932 Hedley St
2737 Pistorio Rd #9230
74989 Brandon St
6 Kains Ave
47565 W Grand Ave
4284 Dorigo Ln
6794 Lake Dr E
31 Douglas Blvd #950
44 W 4th St
11279 Loytan St
69 Marquette Ave
70 W Main St
461 Prospect Pl #316
47154 Whipple Ave Nw
37 Alabama Ave
3777 E Richmond St #900
3 Fort Worth Ave
4800 Black Horse Pike
83649 W Belmont Ave
840 15th Ave
1747 Calle Amanecer #2
99385 Charity St #840
68556 Central Hwy
55 Riverside Ave
7140 University Ave
64 5th Ave #1153
3 Secor Rd
4 Webbs Chapel Rd
524 Louisiana Ave Nw
185 Blackstone Bldge
170 Wyoming Ave
4 10th St W
7 W Pinhook Rd
1 Commerce Way
64 Lakeview Ave
3 Aspen St
32860 Sierra Rd
555 Main St
2 Se 3rd Ave
2239 Shawnee Mission Pky
2726 Charcot Ave
5161 Dorsett Rd
55892 Jacksonville Rd
5 N Cleveland Massillon Rd
7 Benton Dr
9390 S Howell Ave
8 County Center Dr #647
4646 Kaahumanu St
2 Monroe St
52777 Leaders Heights Rd
72868 Blackington Ave
9 Norristown Rd
83 County Road 437 #8581
1 N Harlem Ave #9
90131 J St
8597 W National Ave
6 Gilson St
65 W Maple Ave
866 34th Ave
798 Lund Farm Way
9387 Charcot Ave
30553 Washington Rd
481 W Lemon St
4 Warehouse Point Rd #7
4940 Pulaski Park Dr
627 Walford Ave
137 Pioneer Way
61 13 Stoneridge #835
2409 Alabama Rd
8927 Vandever Ave
134 Lewis Rd
9 N College Ave #3
60480 Old Us Highway 51
4 Bloomfield Ave
429 Tiger Ln
54169 N Main St
92 Main St
72 Mannix Dr
12270 Caton Center Dr
749 W 18th St #45
8 Industry Ln
1 Huntwood Ave
55262 N French Rd
422 E 21st St
501 N 19th Ave
455 N Main Ave
1844 Southern Blvd
2023 Greg St
63381 Jenks Ave
6651 Municipal Rd
81 Norris Ave #525
6916 W Main St
9635 S Main St
17 Us Highway 111
992 Civic Center Dr
303 N Radcliffe St
73 Saint Ann St #86
44 58th St
9745 W Main St
84 Bloomfield Ave
287 Youngstown Warren Rd
6 Van Buren St
229 N Forty Driv
2887 Knowlton St #5435
523 Marquette Ave
3717 Hamann Industrial Pky
3 State Route 35 S
82 N Highway 67
9 Murfreesboro Rd
6 S Broadway St
6 Harry L Dr #6327
47939 Porter Ave
9 Wales Rd Ne #914
195 13n N
99 Tank Farm Rd
4671 Alemany Blvd
98 University Dr
50 E Wacker Dr
70 Euclid Ave #722
326 E Main St #6496
406 Main St
3 Elmwood Dr
9 Church St
9939 N 14th St
5384 Southwyck Blvd
97 Airport Loop Dr
37855 Nolan Rd
4252 N Washington Ave #9
42754 S Ash Ave
703 Beville Rd
5 Harrison Rd
73 Southern Blvd
189 Village Park Rd
6 Middlegate Rd #106
1128 Delaware St
577 Parade St
70 Mechanic St
4379 Highway 116
55 Hawthorne Blvd
7116 Western Ave
2026 N Plankinton Ave #3
99586 Main St
8739 Hudson St
383 Gunderman Rd #197
4441 Point Term Mkt
2972 Lafayette Ave
2140 Diamond Blvd
93 Redmond Rd #492
3989 Portage Tr
1 Midway Rd
77132 Coon Rapids Blvd Nw
755 Harbor Way
87 Sierra Rd
7667 S Hulen St #42
75684 S Withlapopka Dr #32
5 Elmwood Park Blvd
23 Palo Alto Sq
38062 E Main St
3958 S Dupont Hwy #7
560 Civic Center Dr
3270 Dequindre Rd
1 Garfield Ave #7
9122 Carpenter Ave
48 Lenox St
5 Little River Tpke
3 N Groesbeck Hwy
37 N Elm St #916
433 Westminster Blvd #590
66697 Park Pl #3224
96263 Greenwood Pl
8 Mcarthur Ln
8 Fair Lawn Ave
9 N 14th St
9 Vanowen St
18 Waterloo Geneva Rd
506 S Hacienda Dr
3732 Sherman Ave
25657 Live Oak St
4923 Carey Ave
3196 S Rider Trl
3 Railway Ave #75
87393 E Highland Rd
67 E Chestnut Hill Rd
33 Lewis Rd #46
8100 Jacksonville Rd #7
7 W Wabansia Ave #227
25 Minters Chapel Rd #9
6882 Torresdale Ave
985 E 6th Ave
7 West Ave #1
26659 N 13th St
669 Packerland Dr #1438
759 Eldora St
5 S Colorado Blvd #449
944 Gaither Dr
66552 Malone Rd
77 Massillon Rd #822
25346 New Rd
60 Fillmore Ave
57 Haven Ave #90
6538 E Pomona St #60
6535 Joyce St
78112 Morris Ave
96950 Hidden Ln
3718 S Main St
9677 Commerce Dr
5 Green Pond Rd #4
636 Commerce Dr #42
42744 Hamann Industrial Pky #82
1950 5th Ave
61304 N French Rd
87 Imperial Ct #79
94 W Dodge Rd
4 58th St #3519
5221 Bear Valley Rd
9648 S Main
7 S San Marcos Rd
812 S Haven St
3882 W Congress St #799
4 E Colonial Dr
45 2nd Ave #9759
57254 Brickell Ave #372
8977 Connecticut Ave Nw #3
9 Waydell St
43 Huey P Long Ave
7563 Cornwall Rd #4462
22 Bridle Ln
70099 E North Ave
3211 E Northeast Loop
26 Montgomery St
13252 Lighthouse Ave
206 Main St #2804
96541 W Central Blvd
34 Saint George Ave #2
47857 Coney Island Ave
8573 Lincoln Blvd
596 Santa Maria Ave #7913
3829 Ventura Blvd
13 S Hacienda Dr
40 9th Ave Sw #91
2845 Boulder Crescent St
33 State St
2 S 15th St
4 Kohler Memorial Dr
1 Rancho Del Mar Shopping C
3943 N Highland Ave
5 Williams St
60 Old Dover Rd
8 Sheridan Rd
85092 Southern Blvd
64 Newman Springs Rd E
48 Stratford Ave
80 Pittsford Victor Rd #9
87163 N Main Ave
393 Lafayette Ave
99 5th Ave #33
49 N Mays St
993 Washington Ave
88 15th Ave Ne
3381 E 40th Ave
201 Ridgewood Rd
39 Moccasin Dr
4 Carroll St
9581 E Arapahoe Rd
33 N Michigan Ave
2 S Biscayne Blvd
8 Us Highway 22
7422 Martin Ave #8
94 Chase Rd
8139 I Hwy 10 #92
5 Cabot Rd
3387 Ryan Dr
3125 Packer Ave #9851
347 Chestnut St
8116 Mount Vernon Ave
8772 Old County Rd #5410
868 State St #38
772 W River Dr
73 W Barstow Ave
61047 Mayfield Ave
2139 Santa Rosa Ave
598 43rd St
70295 Pioneer Ct
92899 Kalakaua Ave
395 S 6th St #2
9506 Edgemore Ave
72119 S Walker Ave #63
369 Latham St #500
3158 Runamuck Pl
9 Plainsboro Rd #598
8728 S Broad St
2215 Prosperity Dr
1 S Pine St
187 Market St
94290 S Buchanan St
7061 N 2nd St
10759 Main St
97 E 3rd St #9
82 Winsor St #54
41 Steel Ct
49440 Dearborn St
7 S Beverly Dr
919 Wall Blvd
89 20th St E #779
721 Interstate 45 S
3 Lawton St
38 Pleasant Hill Rd
45 E Acacia Ct
63728 Poway Rd #1
77 222 Dr
53 W Carey St
617 Nw 36th Ave
539 Coldwater Canyon Ave
735 Crawford Dr
910 Rahway Ave
7 Tarrytown Rd
35433 Blake St #588
29 Cherry St #7073
810 N La Brea Ave
987 Main St
36 Enterprise St Se
8429 Miller Rd
5 W 7th St
2 Flynn Rd
2094 Ne 36th Ave
649 Tulane Ave
2094 Montour Blvd
393 Hammond Dr
8590 Lake Lizzie Dr
87895 Concord Rd
46314 Route 130
4 Cowesett Ave
95 Main Ave #2
28 S 7th St #2824
79 S Howell Ave
36 Lancaster Dr Se
2759 Livingston Ave
17 Jersey Ave
2 W Grand Ave
18 Coronado Ave #563
72 Beechwood Ter
92 Broadway
39 Franklin Ave
4 Iwaena St
32820 Corkwood Rd
34 Raritan Center Pky
6201 S Nevada Ave
78 Maryland Dr #146
76598 Rd  I 95 #1
1610 14th St Nw
86350 Roszel Rd
1644 Clove Rd
9 W Central Ave
27846 Lafayette Ave
10276 Brooks St
1 Century Park E
9 State Highway 57 #22
4 S Washington Ave
25 Se 176th Pl
105 Richmond Valley Rd
22 Spruce St #595
2 W Beverly Blvd
72 Southern Blvd
1 Washington St
90177 N 55th Ave
9 Tower Ave
278 Bayview Ave
80312 W 32nd St
82 Us Highway 46
4 Stovall St #72
19 Amboy Ave
63 Smith Ln #8343
11360 S Halsted St
26849 Jefferson Hwy
2500 Pringle Rd Se #508
65 Mountain View Dr
1 N San Saba
51120 State Route 18
1482 College Ave
4119 Metropolitan Dr
2167 Sierra Rd
6 Sunrise Ave
55713 Lake City Hwy
75698 N Fiesta Blvd
88 Sw 28th Ter
7 Flowers Rd #403
4 Nw 12th St #3849
2 A Kelley Dr
88827 Frankford Ave
2 W Scyene Rd #3
62260 Park Stre
3424 29th St Se
35 E Main St #43
7163 W Clark Rd
21575 S Apple Creek Rd
747 Leonis Blvd
13 Gunnison St
18 3rd Ave
62 W Austin St
177 S Rider Trl #52
2 W Mount Royal Ave
1953 Telegraph Rd
63517 Dupont St
5 E Truman Rd
251 Park Ave #979
43496 Commercial Dr #29
2184 Worth St
50126 N Plankinton Ave
38773 Gravois Ave
16452 Greenwich St
40 Cambridge Ave
20113 4th Ave E
6 Ridgewood Center Dr
469 Outwater Ln
62 Monroe St
3338 A Lockport Pl #6
9 Hwy
8284 Hart St
5 Washington St #1
8 S Haven St
9 Front St
1933 Packer Ave #2
67 Rv Cent
2 Sw Nyberg Rd
89992 E 15th St
61556 W 20th Ave
63 E Aurora Dr

In [18]:
import csv
with open('sample_users.csv','r') as f:
    data=csv.DictReader(f)
    for in data:
        print(i['first_name'],i['address'])

SyntaxError: invalid syntax (1399349032.py, line 4)

In [20]:
import csv

with open('sample_users.csv', 'r') as f:
    data = csv.DictReader(f)
    for i in data:
        print(i['first_name'], i['address'])

James 6649 N Blue Gum St
Josephine 4 B Blue Ridge Blvd
Art 8 W Cerritos Ave #54
Lenna 639 Main St
Donette 34 Center St
Simona 3 Mcauley Dr
Mitsue 7 Eads St
Leota 7 W Jackson Blvd
Sage 5 Boston Ave #88
Kris 228 Runamuck Pl #2808
Minna 2371 Jerrold Ave
Abel 37275 St  Rt 17m M
Kiley 25 E 75th St #69
Graciela 98 Connecticut Ave Nw
Cammy 56 E Morehead St
Mattie 73 State Road 434 E
Meaghan 69734 E Carrillo St
Gladys 322 New Horizon Blvd
Yuki 1 State Route 27
Fletcher 394 Manchester Blvd
Bette 6 S 33rd St
Veronika 6 Greenleaf Ave
Willard 618 W Yakima Ave
Maryann 74 S Westgate St
Alisha 3273 State St
Allene 1 Central Ave
Chanel 86 Nw 66th St #8673
Ezekiel 2 Cedar Ave #84
Willow 90991 Thorburn Ave
Bernardo 386 9th Ave N
Ammie 74874 Atlantic Ave
Francine 366 South Dr
Ernie 45 E Liberty St
Albina 4 Ralph Ct
Alishia 2742 Distribution Way
Solange 426 Wolf St
Jose 128 Bransten Rd
Rozella 17 Morena Blvd
Valentine 775 W 17th St
Kati 6980 Dorsett Rd
Youlanda 2881 Lewis Rd
Dyan 7219 Woodfield Rd
Roxane 1048 Main St
Lavera 678 3rd Ave
Erick 20 S Babcock St
Fatima 2 Lighthouse Ave
Jina 38938 Park Blvd
Kanisha 5 Tomahawk Dr
Emerson 762 S Main St
Blair 209 Decker Dr
Brock 4486 W O St #1
Lorrie 39 S 7th St
Sabra 98839 Hawthorne Blvd #6101
Marjory 71 San Mateo Ave
Karl 76 Brooks St #9
Tonette 4545 Courthouse Rd
Amber 14288 Foster Ave #4121
Shenika 4 Otis St
Delmy 65895 S 16th St
Deeanna 14302 Pennsylvania Ave
Blondell 201 Hawk Ct
Jamal 53075 Sw 152nd Ter #615
Cecily 59 N Groesbeck Hwy
Carmelina 2664 Lewis Rd
Maurine 59 Shady Ln #53
Tawna 3305 Nabell Ave #679
Penney 18 Fountain St
Elly 7 W 32nd St
Ilene 2853 S Central Expy
Vallie 74 W College St
Kallie 701 S Harrison Rd
Johnetta 1088 Pinehurst St
Bobbye 30 W 80th St #1995
Micaela 20932 Hedley St
Tamar 2737 Pistorio Rd #9230
Moon 74989 Brandon St
Laurel 6 Kains Ave
Delisa 47565 W Grand Ave
Viva 4284 Dorigo Ln
Elza 6794 Lake Dr E
Devorah 31 Douglas Blvd #950
Timothy 44 W 4th St
Arlette 11279 Loytan St
Dominque 69 Marquette Ave
Lettie 70 W Main St
Myra 461 Prospect Pl #316
Stephaine 47154 Whipple Ave Nw
Lai 37 Alabama Ave
Stephen 3777 E Richmond St #900
Tyra 3 Fort Worth Ave
Tammara 4800 Black Horse Pike
Cory 83649 W Belmont Ave
Danica 840 15th Ave
Wilda 1747 Calle Amanecer #2
Elvera 99385 Charity St #840
Carma 68556 Central Hwy
Malinda 55 Riverside Ave
Natalie 7140 University Ave
Lisha 64 5th Ave #1153
Arlene 3 Secor Rd
Alease 4 Webbs Chapel Rd
Louisa 524 Louisiana Ave Nw
Angella 185 Blackstone Bldge
Cyndy 170 Wyoming Ave
Rosio 4 10th St W
Celeste 7 W Pinhook Rd
Twana 1 Commerce Way
Estrella 64 Lakeview Ave
Donte 3 Aspen St
Tiffiny 32860 Sierra Rd
Edna 555 Main St
Sue 2 Se 3rd Ave
Jesusa 2239 Shawnee Mission Pky
Rolland 2726 Charcot Ave
Pamella 5161 Dorsett Rd
Glory 55892 Jacksonville Rd
Shawna 5 N Cleveland Massillon Rd
Brandon 7 Benton Dr
Scarlet 9390 S Howell Ave
Oretha 8 County Center Dr #647
Ty 4646 Kaahumanu St
Xuan 2 Monroe St
Lindsey 52777 Leaders Heights Rd
Devora 72868 Blackington Ave
Herman 9 Norristown Rd
Rory 83 County Road 437 #8581
Talia 1 N Harlem Ave #9
Van 90131 J St
Lucina 8597 W National Ave
Bok 6 Gilson St
Rolande 65 W Maple Ave
Howard 866 34th Ave
Kimbery 798 Lund Farm Way
Thurman 9387 Charcot Ave
Becky 30553 Washington Rd
Beatriz 481 W Lemon St
Marti 4 Warehouse Point Rd #7
Nieves 4940 Pulaski Park Dr
Leatha 627 Walford Ave
Valentin 137 Pioneer Way
Melissa 61 13 Stoneridge #835
Sheridan 2409 Alabama Rd
Bulah 8927 Vandever Ave
Audra 134 Lewis Rd
Daren 9 N College Ave #3
Fernanda 60480 Old Us Highway 51
Gearldine 4 Bloomfield Ave
Chau 429 Tiger Ln
Theola 54169 N Main St
Cheryl 92 Main St
Laticia 72 Mannix Dr
Carissa 12270 Caton Center Dr
Lezlie 749 W 18th St #45
Ozell 8 Industry Ln
Arminda 1 Huntwood Ave
Reita 55262 N French Rd
Yolando 422 E 21st St
Lizette 501 N 19th Ave
Gregoria 455 N Main Ave
Carin 1844 Southern Blvd
Chantell 2023 Greg St
Dierdre 63381 Jenks Ave
Larae 6651 Municipal Rd
Latrice 81 Norris Ave #525
Kerry 6916 W Main St
Dorthy 9635 S Main St
Fannie 17 Us Highway 111
Evangelina 992 Civic Center Dr
Novella 303 N Radcliffe St
Clay 73 Saint Ann St #86
Jennifer 44 58th St
Irma 9745 W Main St
Eun 84 Bloomfield Ave
Sylvia 287 Youngstown Warren Rd
Nana 6 Van Buren St
Layla 229 N Forty Driv
Joesph 2887 Knowlton St #5435
Annabelle 523 Marquette Ave
Stephaine 3717 Hamann Industrial Pky
Nelida 3 State Route 35 S
Marguerita 82 N Highway 67
Carmela 9 Murfreesboro Rd
Junita 6 S Broadway St
Claribel 6 Harry L Dr #6327
Benton 47939 Porter Ave
Hillary 9 Wales Rd Ne #914
Merilyn 195 13n N
Teri 99 Tank Farm Rd
Merlyn 4671 Alemany Blvd
Georgene 98 University Dr
Jettie 50 E Wacker Dr
Lemuel 70 Euclid Ave #722
Melodie 326 E Main St #6496
Candida 406 Main St
Karan 3 Elmwood Dr
Andra 9 Church St
Felicidad 9939 N 14th St
Belen 5384 Southwyck Blvd
Gracia 97 Airport Loop Dr
Jolanda 37855 Nolan Rd
Barrett 4252 N Washington Ave #9
Helga 42754 S Ash Ave
Ashlyn 703 Beville Rd
Fausto 5 Harrison Rd
Ronny 73 Southern Blvd
Marge 189 Village Park Rd
Norah 6 Middlegate Rd #106
Aliza 1128 Delaware St
Mozell 577 Parade St
Viola 70 Mechanic St
Franklyn 4379 Highway 116
Willodean 55 Hawthorne Blvd
Beckie 7116 Western Ave
Rebecka 2026 N Plankinton Ave #3
Frederica 99586 Main St
Glen 8739 Hudson St
Freeman 383 Gunderman Rd #197
Vincent 4441 Point Term Mkt
Rima 2972 Lafayette Ave
Glendora 2140 Diamond Blvd
Avery 93 Redmond Rd #492
Cristy 3989 Portage Tr
Nicolette 1 Midway Rd
Tracey 77132 Coon Rapids Blvd Nw
Virgina 755 Harbor Way
Tiera 87 Sierra Rd
Alaine 7667 S Hulen St #42
Earleen 75684 S Withlapopka Dr #32
Leonida 5 Elmwood Park Blvd
Ressie 23 Palo Alto Sq
Justine 38062 E Main St
Eladia 3958 S Dupont Hwy #7
Chaya 560 Civic Center Dr
Gwenn 3270 Dequindre Rd
Salena 1 Garfield Ave #7
Yoko 9122 Carpenter Ave
Taryn 48 Lenox St
Katina 5 Little River Tpke
Rickie 3 N Groesbeck Hwy
Alex 37 N Elm St #916
Lashon 433 Westminster Blvd #590
Lauran 66697 Park Pl #3224
Ceola 96263 Greenwood Pl
My 8 Mcarthur Ln
Lorrine 8 Fair Lawn Ave
Peggie 9 N 14th St
Marvel 9 Vanowen St
Daron 18 Waterloo Geneva Rd
An 506 S Hacienda Dr
Portia 3732 Sherman Ave
Rhea 25657 Live Oak St
Benedict 4923 Carey Ave
Alyce 3196 S Rider Trl
Heike 3 Railway Ave #75
Carey 87393 E Highland Rd
Dottie 67 E Chestnut Hill Rd
Deandrea 33 Lewis Rd #46
Kimberlie 8100 Jacksonville Rd #7
Martina 7 W Wabansia Ave #227
Skye 25 Minters Chapel Rd #9
Jade 6882 Torresdale Ave
Charlene 985 E 6th Ave
Geoffrey 7 West Ave #1
Stevie 26659 N 13th St
Pamella 669 Packerland Dr #1438
Harrison 759 Eldora St
Johnna 5 S Colorado Blvd #449
Buddy 944 Gaither Dr
Dalene 66552 Malone Rd
Jerry 77 Massillon Rd #822
Haydee 25346 New Rd
Joseph 60 Fillmore Ave
Deonna 57 Haven Ave #90
Raymon 6538 E Pomona St #60
Alecia 6535 Joyce St
Ma 78112 Morris Ave
Detra 96950 Hidden Ln
Terrilyn 3718 S Main St
Salome 9677 Commerce Dr
Garry 5 Green Pond Rd #4
Matthew 636 Commerce Dr #42
Theodora 42744 Hamann Industrial Pky #82
Noah 1950 5th Ave
Carmen 61304 N French Rd
Lavonda 87 Imperial Ct #79
Junita 94 W Dodge Rd
Herminia 4 58th St #3519
Casie 5221 Bear Valley Rd
Reena 9648 S Main
Mirta 7 S San Marcos Rd
Cathrine 812 S Haven St
Filiberto 3882 W Congress St #799
Raul 4 E Colonial Dr
Sarah 45 2nd Ave #9759
Lucy 57254 Brickell Ave #372
Judy 8977 Connecticut Ave Nw #3
Yvonne 9 Waydell St
Kayleigh 43 Huey P Long Ave
Felix 7563 Cornwall Rd #4462
Tresa 22 Bridle Ln
Kristeen 70099 E North Ave
Jenelle 3211 E Northeast Loop
Renea 26 Montgomery St
Olive 13252 Lighthouse Ave
Ligia 206 Main St #2804
Christiane 96541 W Central Blvd
Goldie 34 Saint George Ave #2
Loreta 47857 Coney Island Ave
Fabiola 8573 Lincoln Blvd
Amie 596 Santa Maria Ave #7913
Raina 3829 Ventura Blvd
Erinn 13 S Hacienda Dr
Cherry 40 9th Ave Sw #91
Kattie 2845 Boulder Crescent St
Lilli 33 State St
Whitley 2 S 15th St
Barbra 4 Kohler Memorial Dr
Hermila 1 Rancho Del Mar Shopping C
Jesusita 3943 N Highland Ave
Caitlin 5 Williams St
Roosevelt 60 Old Dover Rd
Helaine 8 Sheridan Rd
Lorean 85092 Southern Blvd
France 64 Newman Springs Rd E
Justine 48 Stratford Ave
Adelina 80 Pittsford Victor Rd #9
Derick 87163 N Main Ave
Jerry 393 Lafayette Ave
Leota 99 5th Ave #33
Jutta 49 N Mays St
Aja 993 Washington Ave
Kirk 88 15th Ave Ne
Leonora 3381 E 40th Ave
Winfred 201 Ridgewood Rd
Tarra 39 Moccasin Dr
Corinne 4 Carroll St
Dulce 9581 E Arapahoe Rd
Kate 33 N Michigan Ave
Kaitlyn 2 S Biscayne Blvd
Sherita 8 Us Highway 22
Lashawnda 7422 Martin Ave #8
Ernest 94 Chase Rd
Nobuko 8139 I Hwy 10 #92
Lavonna 5 Cabot Rd
Lashaunda 3387 Ryan Dr
Mariann 3125 Packer Ave #9851
Helene 347 Chestnut St
Roselle 8116 Mount Vernon Ave
Samira 8772 Old County Rd #5410
Margart 868 State St #38
Kristofer 772 W River Dr
Weldon 73 W Barstow Ave
Shalon 61047 Mayfield Ave
Denise 2139 Santa Rosa Ave
Louvenia 598 43rd St
Audry 70295 Pioneer Ct
Kristel 92899 Kalakaua Ave
Vincenza 395 S 6th St #2
Elouise 9506 Edgemore Ave
Venita 72119 S Walker Ave #63
Kasandra 369 Latham St #500
Xochitl 3158 Runamuck Pl
Maile 9 Plainsboro Rd #598
Krissy 8728 S Broad St
Pete 2215 Prosperity Dr
Linn 1 S Pine St
Paris 187 Market St
Wynell 94290 S Buchanan St
Quentin 7061 N 2nd St
Regenia 10759 Main St
Sheron 97 E 3rd St #9
Izetta 82 Winsor St #54
Rodolfo 41 Steel Ct
Zona 49440 Dearborn St
Serina 7 S Beverly Dr
Paz 919 Wall Blvd
Markus 89 20th St E #779
Jaclyn 721 Interstate 45 S
Cyril 3 Lawton St
Gayla 38 Pleasant Hill Rd
Erick 45 E Acacia Ct
Jennie 63728 Poway Rd #1
Mitsue 77 222 Dr
Ciara 53 W Carey St
Galen 617 Nw 36th Ave
Truman 539 Coldwater Canyon Ave
Gail 735 Crawford Dr
Dalene 910 Rahway Ave
Gertude 7 Tarrytown Rd
Lizbeth 35433 Blake St #588
Glenn 29 Cherry St #7073
Lashandra 810 N La Brea Ave
Lenna 987 Main St
Laurel 36 Enterprise St Se
Mireya 8429 Miller Rd
Annelle 5 W 7th St
Dean 2 Flynn Rd
Levi 2094 Ne 36th Ave
Sylvie 649 Tulane Ave
Sharee 2094 Montour Blvd
Cordelia 393 Hammond Dr
Mollie 8590 Lake Lizzie Dr
Brett 87895 Concord Rd
Teddy 46314 Route 130
Tasia 4 Cowesett Ave
Hubert 95 Main Ave #2
Arthur 28 S 7th St #2824
Vilma 79 S Howell Ave
Billye 36 Lancaster Dr Se
Glenna 2759 Livingston Ave
Mitzie 17 Jersey Ave
Bernardine 2 W Grand Ave
Staci 18 Coronado Ave #563
Nichelle 72 Beechwood Ter
Janine 92 Broadway
Ettie 39 Franklin Ave
Eden 4 Iwaena St
Lynelle 32820 Corkwood Rd
Merissa 34 Raritan Center Pky
Golda 6201 S Nevada Ave
Catarina 78 Maryland Dr #146
Virgie 76598 Rd  I 95 #1
Jolene 1610 14th St Nw
Keneth 86350 Roszel Rd
Rikki 1644 Clove Rd
Elke 9 W Central Ave
Hoa 27846 Lafayette Ave
Trinidad 10276 Brooks St
Mari 1 Century Park E
Selma 9 State Highway 57 #22
Antione 4 S Washington Ave
Luisa 25 Se 176th Pl
Clorinda 105 Richmond Valley Rd
Dick 22 Spruce St #595
Ahmed 2 W Beverly Blvd
Iluminada 72 Southern Blvd
Joanna 1 Washington St
Caprice 90177 N 55th Ave
Stephane 9 Tower Ave
Quentin 278 Bayview Ave
Annmarie 80312 W 32nd St
Shonda 82 Us Highway 46
Cecil 4 Stovall St #72
Jeanice 19 Amboy Ave
Josphine 63 Smith Ln #8343
Daniel 11360 S Halsted St
Cassi 26849 Jefferson Hwy
Britt 2500 Pringle Rd Se #508
Adell 65 Mountain View Dr
Jacqueline 1 N San Saba
Lonny 51120 State Route 18
Lonna 1482 College Ave
Cristal 4119 Metropolitan Dr
Kenneth 2167 Sierra Rd
Elli 6 Sunrise Ave
Alline 55713 Lake City Hwy
Sharika 75698 N Fiesta Blvd
Nu 88 Sw 28th Ter
Daniela 7 Flowers Rd #403
Cecilia 4 Nw 12th St #3849
Leslie 2 A Kelley Dr
Nan 88827 Frankford Ave
Izetta 2 W Scyene Rd #3
Tegan 62260 Park Stre
Ruthann 3424 29th St Se
Joni 35 E Main St #43
Vi 7163 W Clark Rd
Colette 21575 S Apple Creek Rd
Malcolm 747 Leonis Blvd
Ryan 13 Gunnison St
Jess 18 3rd Ave
Sharen 62 W Austin St
Nickolas 177 S Rider Trl #52
Gary 2 W Mount Royal Ave
Diane 1953 Telegraph Rd
Roslyn 63517 Dupont St
Glory 5 E Truman Rd
Rasheeda 251 Park Ave #979
Alpha 43496 Commercial Dr #29
Refugia 2184 Worth St
Shawnda 50126 N Plankinton Ave
Mona 38773 Gravois Ave
Gilma 16452 Greenwich St
Janey 40 Cambridge Ave
Lili 20113 4th Ave E
Loren 6 Ridgewood Center Dr
Dorothy 469 Outwater Ln
Gail 62 Monroe St
Catalina 3338 A Lockport Pl #6
Lawrence 9 Hwy
Carlee 8284 Hart St
Thaddeus 5 Washington St #1
Jovita 8 S Haven St
Alesia 9 Front St
Lai 1933 Packer Ave #2
Brittni 67 Rv Cent
Raylene 2 Sw Nyberg Rd
Flo 89992 E 15th St
Jani 61556 W 20th Ave
Chauncey 63 E Aurora Dr

In [22]:
import csv
student=('Ramesh','KTM',22)
with open('student.csv','w') as f:
    writer=csv.writer(f)
    writer.writerow(student)

In [27]:
import csv
students=[
    ('Name','Address','Age'),
    ('Ram','ktm',23),
    ('Shyam','Ltr',24),
    ('Sita','Pkr',21),
    ('Gita','Ktm',22)
]
with open ('student.csv','w')as f:
    writer=csv.writer(f)
    for student in students:
        writer.writerow(student)

In [31]:
import csv
students=[
    ('Name','Address','Age'),
    ('Ram','ktm',23),
    ('Shyam','Ltr',24),
    ('Sita','Pkr',21),
    ('Gita','Ktm',22)  
]
with open('students.csv','w' )as f:
     writer=csv.writer(f)
     writer.writerows(students) #bulk write

In [34]:
import csv
student={'name':'Ram','address':'ktm','age':23}
with open('person.csv','w') as f:
    writer=csv.DictWriter(f,fieldnames=student.keys())
    writer.writeheader()
    writer.writerow(student)

In [37]:
import csv
students = [
    {'Name': 'Ram', 'Address': 'ktm', 'Age': 23},
    {'Name': 'Shyam', 'Address': 'Ltr', 'Age': 24},
    {'Name': 'Sita', 'Address': 'Pkr', 'Age': 21},
    {'Name': 'Gita', 'Address': 'Ktm', 'Age': 22}
]
with open('studenr.csv ','w') as f:
        writer=csv.DictWriter(f,fieldnames=students[0].keys())
        writer.writerheader()
        for student in students:
            writer.writerow(student)

AttributeError: 'DictWriter' object has no attribute 'writerheader'

In [40]:
import csv

students = [
    {'Name': 'Ram', 'Address': 'ktm', 'Age': 23},
    {'Name': 'Shyam', 'Address': 'Ltr', 'Age': 24},
    {'Name': 'Sita', 'Address': 'Pkr', 'Age': 21},
    {'Name': 'Gita', 'Address': 'Ktm', 'Age': 22}
]

with open('students.csv', 'w') as f:
    writer = csv.DictWriter(f, fieldnames=students[0].keys())
    writer.writeheader() 
    for student in students:
        writer.writerow(student)

In [44]:
import csv

students = [
    {'Name': 'Ram', 'Address': 'ktm', 'Age': 23},
    {'Name': 'Shyam', 'Address': 'Ltr', 'Age': 24},
    {'Name': 'Sita', 'Address': 'Pkr', 'Age': 21},
    {'Name': 'Gita', 'Address': 'Ktm', 'Age': 22}
]

with open('students.csv', 'w', newline='', encoding='utf-8') as f:
    writer = csv.DictWriter(f, fieldnames=students[0].keys())
    writer.writeheader()  
    writer.writerows(students)

In [52]:
ls = [1, 2, 3, 4, 5, 6]
squared_list = [number**2 for number in ls]
print(squared_list)

[1, 4, 9, 16, 25, 36]

In [54]:
ls = [1, 2, 3, 4, 5, 6] #Non pythonic code
squares=[]
for i in ls:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25, 36]

In [56]:
ls = [1, 2, 3, 4, 5, 6] 
squares=[i**2 for i in ls] #Pythonic code
print(squares)

[1, 4, 9, 16, 25, 36]

In [58]:
age=17
is_authorized='Unauthorized'if age<18 else 'Authorized'
print(is_authorized)

Unauthorized

In [5]:
numbers = [1, 23, 4, 3, 4, 2, 2]
even_odd = []
for i in numbers:
    even_odd.append('Even' if i % 2 == 0 else 'Odd')
print(even_odd)

['Odd', 'Odd', 'Even', 'Odd', 'Even', 'Even', 'Even']

In [8]:
numbers= [1, 23, 4, 3, 4, 2, 2]
output=['even'if number%2==0 else 'odd' for number in numbers]
print(output)

['odd', 'odd', 'even', 'odd', 'even', 'even', 'even']

In [9]:
numbers=[-8,-7,3,-1,0,1,3,4,5,-7,6,8,10]
output=[number for number in numbers if number>0]
print(output)

[3, 1, 3, 4, 5, 6, 8, 10]

In [10]:
#dictionary comprehension

In [11]:
us_price={'milk':2.03,'bread':2.6,'butter':3.6}
nep_price={}
for k,v in us_price.items():
    nep_price.update({k:v*132})
print (nep_price)

{'milk': 267.96, 'bread': 343.2, 'butter': 475.2}

In [12]:
us_price={'milk':2.03,'bread':2.6,'butter':3.6}
output={k:v*131.07 for k,v in us_price.items()}
print(output)

{'milk': 266.0721, 'bread': 340.782, 'butter': 471.852}

In [14]:
us_price = {'milk': 2.03, 'bread': 2.6, 'butter': 3.6}
nep_price = {}

for product in us_price:
    price = us_price[product]
    if price < 5:
        nep_price[product] = price * 131.07 * 1.13
    else:
        nep_price[product] = price * 131.07 * 1.20

print(nep_price)

{'milk': 300.66147299999994, 'bread': 385.08365999999995, 'butter': 533.1927599999999}

In [13]:
us_price={'milk':2.03,'bread':2.6,'butter':3.6}
nep_price={
    product:(price*131.07*1.13 if price <5 else price*131.07*1.20)
    for product,price in us_price.items()
}
print(nep_price)

{'milk': 300.66147299999994, 'bread': 385.08365999999995, 'butter': 533.1927599999999}