In [4]:
import sqlite3

# Connect to SQLite database (creates a new database if it doesn't exist)
con = sqlite3.connect('students1.sqlite3')
cur = con.cursor()

# Create the student table
create_table_query = '''
    CREATE TABLE IF NOT EXISTS student (
        id INTEGER PRIMARY KEY,
        name VARCHAR NOT NULL,
        address VARCHAR NOT NULL,
        college VARCHAR NOT NULL,
        age INTEGER NOT NULL,
        gender VARCHAR(1) NOT NULL,
        faculty VARCHAR NOT NULL
    );
'''

cur.execute(create_table_query)
con.commit()
)

In [6]:
import sqlite3

# Connect to SQLite database
con = sqlite3.connect('students1.sqlite3')
cur = con.cursor()

# Data to insert
students = [
    (1, 'ram', 'kathmandu', 'ncit', 18, 'm', 'IT'),
    (2, 'shyam', 'lalitpur', 'islington', 20, 'm', 'CSIT'),
    (3, 'gita', 'pokhara', 'ncit', 21, 'f', 'SE'),
    (4, 'sita', 'kathmandu', 'ioe pulchowk', 24, 'f', 'CE')
]

# Insert records using parameterized query
cur.executemany("""
    INSERT INTO student (id, name, address, college, age, gender, faculty)
    VALUES (?, ?, ?, ?, ?, ?, ?)
""", students)

# Commit changes and close connection
con.commit()

In [8]:
import sqlite3

# Connect to SQLite database
con = sqlite3.connect('students1.sqlite3')
cur = con.cursor()

# Fetch all records from student table
students = cur.execute('SELECT * FROM student;').fetchall()

# Print the results
print(students)

[(1, 'ram', 'kathmandu', 'ncit', 18, 'm', 'IT'), (2, 'shyam', 'lalitpur', 'islington', 20, 'm', 'CSIT'), (3, 'gita', 'pokhara', 'ncit', 21, 'f', 'SE'), (4, 'sita', 'kathmandu', 'ioe pulchowk', 24, 'f', 'CE')]

In [12]:
import sqlite3

# Connect to SQLite database
con = sqlite3.connect('students1.sqlite3')
cur = con.cursor()

# Fetch all records from student table (fixed typo in 'from')
students = cur.execute('SELECT * FROM student;')

# Print each student record
for student in students:
    print(student)

# Close connection after we're done

(1, 'ram', 'kathmandu', 'ncit', 18, 'm', 'IT')
(2, 'shyam', 'lalitpur', 'islington', 20, 'm', 'CSIT')
(3, 'gita', 'pokhara', 'ncit', 21, 'f', 'SE')
(4, 'sita', 'kathmandu', 'ioe pulchowk', 24, 'f', 'CE')

In [22]:

cur.execute("SELECT * FROM student WHERE address = 'lalitpur';")
print("\nStudents living in Lalitpur:")
for student in lalitpur_students:
    print(student)

ProgrammingError: Cannot operate on a closed database.

In [23]:

cur.execute(f"""SELECT * FROM student WHERE address ='{address}';""")
for student in students:
    print(student)

NameError: name 'address' is not defined

In [24]:
address=input('Enter the address: ')
students=cur.execute(f""""SELECT*FROM student where address='{address}';""")
for student in students:
    print(student)

In [25]:
#SQL injection
#SELECT*FROM student adddress=Lalitpur or true address='kathmandu'

In [26]:
import sqlite3

# Connect to database and create cursor
con = sqlite3.connect('students1.sqlite3')
cur = con.cursor()

# Add university column if it doesn't exist
try:
    cur.execute("ALTER TABLE student ADD COLUMN university VARCHAR NOT NULL DEFAULT 'tu'")
    print("University column added")
except sqlite3.OperationalError:
    print("University column already exists")

# Get address from user and query students
address = input("Enter address to search: ")
cur.execute("SELECT * FROM student WHERE address = ?", (address,))
students = cur.fetchall()

# Print results
print(f"\nStudents in {address}:")
print(student for student in students) if students else print("No students found")

# Save and close
con.commit()

University column already exists

Enter address to search:  lalitpur

Students in lalitpur:
<generator object <genexpr> at 0x106fd9cc0>

In [28]:
student=(11,'ramesh pradhan','lalitpur','ncit',23,'m','IT','TU')
INSERT_RECORDS=""""
INSERT into student
('id,'names','address','college','age','gender','faculty',university)
values
(?,?,?,?,?,?,?,?)
"""
cur.execute(INSERT_RECORDS,student)
con.commit()

ProgrammingError: Cannot operate on a closed database.

In [29]:
import sqlite3

# Connect to the database
con = sqlite3.connect('your_database.db')
cur = con.cursor()

# Create table if it doesn’t exist
cur.execute("""
CREATE TABLE IF NOT EXISTS student (
    id INTEGER,
    names TEXT,
    address TEXT,
    college TEXT,
    age INTEGER,
    gender TEXT,
    faculty TEXT,
    university TEXT
)
""")

# Define the student tuple
student = (11, 'ramesh pradhan', 'lalitpur', 'ncit', 23, 'm', 'IT', 'TU')

# Insert query
INSERT_RECORDS = """
INSERT INTO student
(id, names, address, college, age, gender, faculty, university)
VALUES
(?, ?, ?, ?, ?, ?, ?, ?)
"""

# Execute the query
cur.execute(INSERT_RECORDS, student)

# Commit the transaction
con.commit()

print("Record inserted successfully!")

Record inserted successfully!

In [32]:
import sqlite3

# Connect to the database
con = sqlite3.connect('your_database.db')
cur = con.cursor()

# Create table if it doesn’t exist
cur.execute("""
CREATE TABLE IF NOT EXISTS student (
    id INTEGER,
    names TEXT,
    address TEXT,
    college TEXT,
    age INTEGER,
    gender TEXT,
    faculty TEXT,
    university TEXT
)
""")

# Define the list of students
students = [
    (18, 'hari bahadur', 'lalitpur', 'ncit', 23, 'm', 'SE', 'PU'),
    (19, 'madan bahadur', 'kathmandu', 'british college', 24, 'm', 'IT', 'UK'),
    (13, 'maya devi', 'lalitpur', 'ncit', 21, 'f', 'CE', 'PU'),  # Fixed syntax here
]

# Insert query
INSERT_RECORDS = """
INSERT INTO student
(id, names, address, college, age, gender, faculty, university)
VALUES
(?, ?, ?, ?, ?, ?, ?, ?)
"""

# Execute the query for multiple records
cur.executemany(INSERT_RECORDS, students)
con.commit()