In [3]:
import sqlite3

# Connect to SQLite database (creates a new database if it doesn't exist)
con=sqlite.connect('students1.sq;ite3')
cur = con.cursor() #THREE IMP

# Create the student table
create_table query='''
    CREATE TABLE IF NOT EXISTS student (
        id int primary key,
    name varchar not null,
    address varchar not null,
    college varchar not null,
    age int not null,
    gender varchar(1) not null,
    faculty varchar not null
);
    
''')

SyntaxError: unmatched ')' (2752799297.py, line 19)

In [ ]:
insert_records=""""""